/* iCheck plugin Flat skin, grey
----------------------------------- */
.icheckbox_flat-grey,
.iradio_flat-grey {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    background: url(grey.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_flat-grey {
    background-position: 0 0;
}
    .icheckbox_flat-grey.checked {
        background-position: -43px 0;
    }
    .icheckbox_flat-grey.disabled {
        background-position: -86px 0;
        cursor: default;
    }
    .icheckbox_flat-grey.checked.disabled {
        background-position: -129px 0;
    }

.iradio_flat-grey {
    background-position: -172px 0;
}
    .iradio_flat-grey.checked {
        background-position: -215px 0;
    }
    .iradio_flat-grey.disabled {
        background-position: -258px 0;
        cursor: default;
    }
    .iradio_flat-grey.checked.disabled {
        background-position: -301px 0;
    }
