
html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position:relative;
	min-height: 100%;
}
html,body{
	margin:0;
	padding:0;
}
*, *:before, *:after {-webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;  margin: 0; outline: 0; 	padding: 0;}


/*==========================================
*** HTML TAG STYLES
==========================================*/
body {
	font-family: 'montserratregular';
	font-weight:400;
	background: #FFF;
	color: #5a5250;
	font-size:16px;
	line-height:21px;
	overflow-x:hidden;
}

/*==========================================
*** SHELL STYLES
==========================================*/

.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}

a {color:#5a5250; text-decoration:none; outline: none !important; display: inline-block;}
a:hover {color:#5a5250;}
.nomargin {margin:0 !important;}
.nopadding {padding:0 !important;}
.clear { clear:both;}
.display {display:block !important;}
.display-inline {display:inline-block; vertical-align: middle;}
.text-underline {text-decoration:underline;}
.uppercase {text-transform: uppercase;}
button {border:none; outline: none !important;}
.half-div {float:left; width:46%; margin-right:4%;}
.half-div.last {float:left; width:46%; margin-left:4%; margin-right:0;}

.image-auto {width:auto; max-width:100%;}
.image-full {width:100%; max-width:100%;}

.one-thirt-div {width:70%; margin-right:30%;}

strong {font-family: 'montserratbold'; font-weight:normal;}


h1, h2, h3, h4 {margin:0; padding:0; font-weight:normal;}

::-webkit-input-placeholder {color:#FFF;}
:-moz-placeholder {color:#FFF;}
::-moz-placeholder {color:#FFF; }
:-ms-input-placeholder {color:#FFF;}

.table-div {display:table;}
.table-div-cell {display:table-cell; vertical-align:middle; height:100%; width:100%;}

h3 {font-size:24px; line-height:28px; font-weight:normal !important;}
h1 {font-size:42px; line-height:45px; font-weight:normal !important;}

input[type="text"], input[type="email"], input[type="password"], textarea {background-color:transparent; border-bottom:1px solid #FFF !important; border:none; padding:15px 0%; width:100%; color:#FFF; font-weight:normal; margin-top:35px;}

.admin-template input[type="text"], .admin-template input[type="email"], .admin-template input[type="password"], .admin-template textarea {padding:14px; font-weight:normal; font-size:13px; line-height:16px; text-transform: none; border-radius:13px; -moz-border-radius:13px; -webkit-border-radius:13px; background-color:#FFF; color:#5a5250; display:inline-block; border:2px solid #b8b8b8 !important; resize:none; margin-bottom:20px;}

.admin-template ::-webkit-input-placeholder {color:#b8b8b8;}
.admin-template :-moz-placeholder {color:#b8b8b8;}
.admin-template ::-moz-placeholder {color:#b8b8b8; }
.admin-template :-ms-input-placeholder {color:#b8b8b8;}

/*==========================================
*** PAGE STYLES
==========================================*/


.text-center {text-align:center;}
.text-left {text-align:left;}
.text-right {text-align:right;}
.font-italic {font-style:italic;}
.font-normal {font-style:normal;}
.f-left {float:left;}
.f-right {float:right;}

.text-blue {color:#6bb1db;}
.text-white {color:#FFF;}
.text-green {color:#7db440;}

.wrapper {max-width:1220px; margin:0 auto; position:relative;}

/*********************************************
	-	MAIN DIVS - HOMEPAGE	-
**********************************************/


.desktop-only {display:block;}
.mobile-only {display:none;}
.desktop-inline-only {display:inline-block;}
.mobile-inline-only {display:none;}


a.button, button.button {padding:5px 20px; font-weight:normal; font-size:13px; line-height:16px; text-transform: none; border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px; background-color:transparent; color:#b8b8b8; display:inline-block; border:2px solid #b8b8b8;}
a.button.green, button.button.green, button.button.green:hover {background-color:#7db440; border:2px solid #7db440; color:#FFF;}
a.button.gray, button.button.gray, a.button.gray:hover, button.button.gray:hover {background-color:#b8b8b8; color:#5a5250;}
a.button.green:hover{background-color: transparent;color:#7db440;border: 2px solid #7db440;-webkit-transition: ease-out 0.5s; -moz-transition: ease-out 0.5s;  -o-transition: ease-out 0.5s;  transition: ease-out 0.5s;}
a.button.big, button.button.big {font-family: 'montserratbold'; font-weight:normal; width: auto; font-size: 14px; color: #FFF; line-height: 24px;}
a.button.w140, button.button.w140 {min-width:140px;}
a.button.green{-webkit-transition: ease-out 0.5s; -moz-transition: ease-out 0.5s;  -o-transition: ease-out 0.5s;  transition: ease-out 0.5s;}
a.button.gray{-webkit-transition: ease-out 0.5s; -moz-transition: ease-out 0.5s;  -o-transition: ease-out 0.5s;  transition: ease-out 0.5s;}
a.button.gray:hover{background-color: transparent;border: 2px solid #b8b8b8;color:#5a5250!important;-webkit-transition: ease-out 0.5s; -moz-transition: ease-out 0.5s;  -o-transition: ease-out 0.5s;  transition: ease-out 0.5s;}

a.button .fa {padding-right:7px;}
a.button:hover ,.project-box .finishProject {background-color:#b8b8b8; color:#5a5250;}
a.button.icon {padding:5px 20px 5px 35px; position:relative;}
a.button.icon:before {display: inline-block; font-family: "Ionicons"; speak: none;  font-style: normal;  font-weight: normal;  font-variant: normal; text-transform: none; text-rendering: auto;
 line-height: 1;  -webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale; position:absolute; left:15px; top:6px; font-size:13px;}

a.checkbox {padding:5px 20px; font-weight:normal; font-size:13px; line-height:16px; text-transform: none; border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px; background-color:transparent; border:2px solid #b8b8b8; color:#b8b8b8; display:inline-block;}
a.checkbox.checked {background-color:#716764; border:2px solid #716764; color:#FFF;}
div.checkbox.checked {background-color:#716764; border:2px solid #716764; color:#FFF;}
div.checkbox {padding:5px 20px; font-weight:normal; font-size:13px; line-height:16px; text-transform: none; border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px; background-color:transparent; border:2px solid #b8b8b8; color:#b8b8b8; display:inline-block;}
	/* menu */

.nav { position:relative; display:inline-block; font-size:14px; float:right; margin-top:-40px; }
.nav-list {text-align:left;}
.nav-item {float:left; *display:inline; zoom:1; position:relative; margin:0 10px;}
.nav-item:last-child {margin-right:0px;}
.nav-item.dropdown {cursor:pointer;}
.nav-item.active {background-image:url('../images/icon-nav-top-arrow.png'); background-repeat:no-repeat; background-position:bottom center;}
.nav-item.last a {margin-right: 0px;}
.nav-item a {display: block; color: #716764; font-size: 14px; padding:4px 15px 3px 15px; font-family: 'montserratbold'; font-weight:normal; text-transform:uppercase; border-radius:15px; -moz-border-radius:15px; -webkit-border-radius:15px; border:2px solid #716764;}
.nav-item a.noborder {border:none; padding:5px 15px;}
.nav-item a .fa {padding-left:5px;}
.nav-item > a:hover .fa, .nav-item a.active .fa, .nav-item.active > a .fa {color:#437594;}
.nav-item.dropdown > a {padding-right:23px; background-image:url(../images/icon-menu-dropdown.png); background-repeat:no-repeat; background-position:right center;}
.nav-item > a:hover, .nav-item.active > a {color:#716764; background-color: transparent;}
.nav-item a.active, .nav-item a.active {color:#716764;}
.nav-item:hover .nav-submenu {display:block;}
.nav-submenu {display:none; position:absolute; background-color:#609fc5; left:0px; width:100%; top:54px; z-index:1000; height:auto;}
.nav-submenu-item {text-align:left; margin:0%; width:100%;}
.nav-submenu-item a {display: inline-block; min-width:76%; border-bottom:1px solid #7eb1d0; padding-left:12%; padding-right:12%; margin: 0; text-align: left; padding-top: 15px; padding-bottom: 15px; color: #FFF; font-size:14px; text-transform:none;}
.nav-submenu-item a:hover {background-color:#5185a5;}
.nav-submenu-item:last-child a {border-bottom:none;}

.nav-submenu-item a:hover {}
.nav-submenu-item a.active {}
.nav-mobile {color: #58595b; display: none; font-size: 2em; float: right; clear: right; color:#FFF; font-weight:normal; z-index: 2500; width: 30px; height: 25px; position: absolute; top: 0px; right: 0px; cursor:pointer;}
.nav-click {position:absolute; top:0; right:0; display:none; cursor:pointer; width: 90%;  margin: 0 5%;}
.nav-click i {display:block; height:55px; width:100%; }
.nav-click:hover {}
.nav-rotate {-webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg);}
header nav {float:right;}
.nav-item.separator {padding:0; display:none;}



header {background-image:url('../images/client-developer.jpg'); background-repeat:no-repeat; background-position:bottom center; width:100%; height:100vh; position:relative;}
header .text {margin:0 auto; width:auto; max-width:450px; top:50vh; position:absolute; text-align:center; margin-top:-75px; margin-left:-225px; left:50%;}
header .text h1 {text-transform:uppercase; font-family: 'montserratbold'; font-weight:normal; font-size:40px; line-height:45px;}

header .top-menu {margin-top:30px; width:100%; height:auto; text-align:center;}
header .top-menu .wrapper {margin:0 auto;}
header .top-menu ul {display:inline-block; text-align:center; margin-right:50px;}
header .top-menu ul li {display:inline-block; margin:0 20px; vertical-align:middle;}
header .top-menu ul li a {font-size:14px; font-family: 'montserratbold'; line-height:16px; text-transform:uppercase; display:inline-block;}
header a.next-content {color:#716764; font-size:38px; line-height:38px; width:24px; position:absolute; display:block; left:50%; margin-left:-12px; bottom:30px;}
header .logo {display:none; float:left; padding-left:2%; margin-top:25px;}
header .top-menu ul li a:hover{color:#4B89DC!important;}
.landing-home section h3 {margin-bottom:80px;    font-family: 'montserratregular';}
section.what-you-get {width:100%; height:auto; background-color:#f6f6f6; padding:95px 0;}
section.what-you-get .inside {padding:0 50px;}
section.what-you-get figure {    margin-bottom: 80px !important;float:left; width:48%; margin-right:4%; padding-left:80px; position:relative; margin-bottom:50px;}
section.what-you-get figure.last {margin-right:0;}
section.what-you-get figure strong {font-size:18px; line-height:22px; display:block;}
section.what-you-get figure .icon {position:absolute; top:0; left:0; font-size:60px;}
section.what-you-get figure .icon.blue {color:#2573dc;}
section.what-you-get figure .icon.red {color:#ff0000; font-size:70px;}
section.what-you-get figure .icon.green {color:#22b168; font-size:70px;}
section.what-you-get figure .icon.green1 {color:#72c600;}
section.what-you-get figure .icon.violet {color:#92168f; font-size:80px;}
section.what-you-get figure .icon.orange {color:#ffae00; font-size:80px;}
section.what-you-get figure small {font-size:14px; line-height:18px; display:block;}

section.how-it-works {width:100%; height:auto; background-color:#FFF; padding:95px 0;}
section.how-it-works .line {width:100%; height:1px; background-color:#9b9b9b; margin-top:20px;}

section.try-it-now  {width:100%; height:auto; background-color:#7db440; color:#FFF; padding:95px 0; position:relative;}
section.try-it-now .form {width:50%; margin:0 auto;}
section.try-it-now .form button {padding:13px 20px; font-weight:normal; font-size:18px; line-height:22px; text-transform: none; border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px; width:100%; border:1px solid #FFF; margin-top:80px; color:#FFF;-webkit-transition: ease-out 0.5s;-moz-transition: ease-out 0.5s;-o-transition: ease-out 0.5s;  transition: ease-out 0.5s;}
section.try-it-now .form button:hover{background-color: #fff;color:#7db440; -webkit-transition: ease-out 0.5s;-moz-transition: ease-out 0.5s;-o-transition: ease-out 0.5s;  transition: ease-out 0.5s;}
section.try-it-now .select2-container--classic .select2-selection--single { background-color: transparent; background: transparent; border: none; border-bottom:1px solid #FFF !important; text-align:left;}
section.try-it-now .select2-container .select2-selection--single .select2-selection__rendered {padding-left:0; color:#FFF; font-size:16px; padding-top:11px; padding-bottom:11px;}
section.try-it-now .select2-container--classic .select2-selection--single .select2-selection__arrow {background-color:transparent; height:50px;}
section.try-it-now .select2-container--classic .select2-selection--single .select2-selection__arrow b {left: 90%;}

.landing-home .select2-container--classic .select2-results__option--highlighted[aria-selected] {background-color:#7db440;}
.landing-home .select2-results__option {font-size:16px; line-height:18px; padding:10px 2%;}
.landing-home .select2-container--classic.select2-container--open .select2-dropdown {border:1px solid #FFF;}
section.try-it-now a.scroll-on-top {width:42px; height:22px; position:absolute; bottom:0; left:50%; margin-left:-21px;}

footer {background-color:#f6f6f6; height:100px; position: absolute;  bottom: 0;  left: 0;  right: 0;}
footer .table-div, footer .wrapper {height:100%;}
footer .table-div {width:100%;}
footer ul li {display:inline-block; margin-right:40px; vertical-align:middle; font-size:14px; line-height:22px;}
footer ul li a {font-size:14px; line-height:22px;}
footer ul li a i {font-size:30px;}
footer .f-right ul li {margin-right:0; margin-left:20px;}

/* signup-signin css */

.landing-home.gray {background-color:#f6f6f6;}
section.signup {width:600px; height:auto; margin:0 auto; background-color:#FFF; border-bottom-left-radius:15px; border-bottom-right-radius:15px; -moz-border-radius-bottomright:15px; -moz-border-radius-bottomleft:15px; -webkit-border-bottom-left-radius:15px; -webkit-border-bottom-right-radius:15px; -webkit-box-shadow: 0px 0px 22px 6px rgba(0,0,0,0.3); -moz-box-shadow: 0px 0px 22px 6px rgba(0,0,0,0.3); box-shadow: 0px 0px 22px 6px rgba(0,0,0,0.3);}
section.signup .internal {position:relative; padding:50px; }
section.signup .logo {margin-bottom:40px; text-align:center}

section.signup .form button {transition: all 0.5s ease-out;padding:11px 20px; font-weight:normal; font-size:18px; line-height:22px; text-transform: none; border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px; width:100%; border:1px solid #FFF; margin-top:40px; border: 2px solid #7db440;}

section.signup .select2-container--classic .select2-selection--single { background-color: transparent; background: transparent; border: none; border-bottom:2px solid #5a5250 !important; text-align:left;}
section.signup .select2-container .select2-selection--single .select2-selection__rendered {padding-left:0; color:#5a5250; font-size:16px; padding-top:11px; padding-bottom:11px;}
section.signup .select2-container--classic .select2-selection--single .select2-selection__arrow {background-color:transparent; height:50px;}
section.signup .select2-container--classic .select2-selection--single .select2-selection__arrow b {left: 90%; border-color: #5a5250 transparent transparent transparent;}
section.signup .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {border-color: transparent transparent #5a5250 transparent;}
section.signup input {border-bottom: 2px solid #5a5250 !important; color:#5a5250;}

section.signup input::-webkit-input-placeholder {color:#b8b5b5;}
section.signup input:-moz-placeholder {color:#b8b5b5;}
section.signup input::-moz-placeholder {color:#b8b5b5; }
section.signup input:-ms-input-placeholder {color:#b8b5b5;}

section.have-acc {display:block; margin:25px auto; text-align:center;}
section.have-acc a {color:#b8b8b8; font-size:13px; line-height:14px; text-decoration:underline;}

.landing-home.gray .select2-container--classic.select2-container--open .select2-dropdown {border: 1px solid #5a5250;}

/* admin css - view project */

.admin-template header {height:100px; width:100%; background-color:#f6f6f6; background-image:none;}
header .logo-div {float:left; margin-right:30px; margin-top:28px;}
header .menu-div {float:left; width:auto; margin-top:38px;}
header .menu-div ul li {display:inline-block; border-bottom:3px solid #f6f6f6; margin-right:35px;}
header .menu-div ul li:last-child {margin-right:0px;}
header .menu-div ul li:hover, .admin-template header .menu-div ul li.active:hover, .admin-template header .menu-div ul li.active {border-bottom:3px solid #b8b8b8;}
header .menu-div ul li a {color:#b8b8b8; font-size:14px; line-height:18px; min-height: 57px; font-family: 'montserratbold'; font-weight:normal; text-transform:uppercase;}
header .menu-div ul li.active a, .admin-template header .menu-div ul li:hover a {color:#5a5250;}


header .right-div {float:right; width:auto; margin-top:30px;}
header .right-div ul li {display:inline-block; width:auto; margin-left:10px; float:right; position:relative;}
header .right-div ul li.round a {width:40px; height:40px; border-radius:40px; -moz-border-radius:40px; -webkit-border-radius:40px; background-color:#FFF; -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.10); -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.10); box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.10); text-align:center; overflow:hidden;}
header .right-div ul li.round.user a { border:1px solid #FFF; width:39px; height:39px;  border-radius:39px; -moz-border-radius:39px; -webkit-border-radius:39px;}
header .right-div ul li.round.user a.active { border:1px solid #b8b8b8; -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.20); -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.20); box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.20);}
header .right-div ul li.round.user a img {width:38px; height:38px;  border-radius:38px; -moz-border-radius:38px; -webkit-border-radius:38px; cursor: context-menu;}
header .right-div ul li.round.gray a {background-color:#b8b8b8;}
header .right-div ul li.round.gray a:hover i, header .right-div ul li.round.gray a.active i {color:#FFF;}
header .right-div ul li.round i {transform: translate(0, 6px); font-size:29px; color:#dddddd; display:inline-block;}
header .right-div ul li small {display:block; width:20px; padding-top:2px; height:20px; background-color:#4b89dc; color:#FFF; font-size:13px; line-height:16px; text-align:center; position:absolute; top:-9px; right:-6px; border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px;}
header .right-div ul li.round.border a {width:39px; height:39px; border:1px solid #b8b8b8; background-color:transparent; box-shadow:none !important; -moz-box-shadow:none; -webkit-box-shadow:none;}
/*header .right-div ul li.round.border a.active {background-color:#FFF;}*/
header .right-div ul li.round a img {width:39px; height:39px; border-radius:39px; -moz-border-radius:39px; -webkit-border-radius:39px;}
header .right-div ul li.round.border i {transform: translate(0, 2px); font-size:32px; color:#b8b8b8; display:inline-block;}
header .right-div ul li.round a.button {width:auto; background-color:#7db440; border:2px solid #7db440; font-size:14px; font-family: 'montserratbold'; font-weight:normal; color:#FFF; line-height:20px;-webkit-transition: ease-out 0.5s;  -moz-transition: ease-out 0.5s;  -o-transition: ease-out 0.5s;  transition: ease-out 0.5s;}
header .right-div ul li.round a.button:hover{background-color: transparent; color:#7db440;border:2px solid #7db440;-webkit-transition: ease-out 0.5s;  -moz-transition: ease-out 0.5s;  -o-transition: ease-out 0.5s;  transition: ease-out 0.5s; }
header .right-div ul li ul.dropdown {display:none; position:absolute; top:55px; width:290px; left:50%; margin-left:-145px; z-index:1000; background-color:#FFF; border-radius:15px; -moz-border-radius:15px; -webkit-border-radius:15px; -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.10); -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.10); box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.10);}
header .right-div ul li ul.notification_dropdown li{padding: 20px 20px 20px 60px}
header .right-div ul li ul.notification_dropdown:before {content: "\f10d"; display: inline-block; font-family: "Ionicons"; speak: none; font-style: normal; font-weight: normal;  font-variant: normal;  text-transform: none;  text-rendering: auto;  line-height: 1;  -webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale; position:absolute; top:-15px; left:0%; margin-left:0; font-size:30px; color:#FFF; width:100%; text-align:center;}
.notification_dropdown li:first-child:hover{border-radius: 15px 15px 0 0!important;}
header .right-div ul li ul.dropdown .dropdown_view_profile:before {content: "\f10d"; display: inline-block; font-family: "Ionicons"; speak: none; font-style: normal; font-weight: normal;  font-variant: normal;  text-transform: none;  text-rendering: auto;  line-height: 1;  -webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale; position:absolute; top:-15px; left:0%; margin-left:0; font-size:30px; color:#FFF; width:100%; text-align:center;}
header .right-div ul li ul.dropdown li {display:block; float:none !important; border-bottom:1px solid #b8b8b8; font-size:13px; line-height:16px; position:relative; margin-left:0;}
header .right-div ul li ul.dropdown .dropdown_view_profile:hover{background-color: #B8B8B8;border-radius: 15px 15px 0 0}
header .right-div ul li ul.dropdown .dropdown_view_profile:hover a{background-color: #B8B8B8!important;color: #fff!important;}
header .right-div ul li ul.dropdown .dropdown_view_profile:hover:before {color: #B8B8B8!important;}
header .right-div ul li ul.dropdown .dropdown_logout:hover{background-color: #4B89DC!important;border-radius: 0 0 15px 15px}
header .right-div ul li ul.dropdown .dropdown_logout:hover a{color: #fff!important;background-color:#4B89DC!important; }

header .right-div ul li ul.dropdown li h4 {height:30px; width:30px; border-radius:30px; -moz-border-radius:30px; -webkit-transform:30px; text-align:center; position:absolute; left:20px; top:50%; margin-top:-15px; color:#FFF;}
header .right-div ul li ul.dropdown li h4 i {color:#FFF !important; font-size:15px !important; padding-top:5px;}
header .right-div ul li ul.dropdown li h4.job-closed {background-color:#7db440;}
header .right-div ul li ul.dropdown li h4.job-payment {background-color:#ffc043;}
header .right-div ul li ul.dropdown li h4.job-dispute {background-color:#e27164;}
header .right-div ul li ul.dropdown li h4.job-started {background-color:#5a5250;}
header .right-div ul li ul.dropdown li h4.job-invited {background-color:#4b89dc;}
header .right-div ul li ul.dropdown li:last-child {border-bottom:none;}
header .right-div ul li ul.dropdown li a {width:auto !important; height:auto !important; border-radius:0; border:none !important; margin:0 !important; line-height:14px !important; overflow: visible !important; color:#7db440;}



header .right-div ul li.user ul.dropdown li {padding:20px; color: #5a5250;}
header .right-div ul li.user ul.dropdown li a.active { box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; color: #5a5250; font-size:13px;}
header .right-div ul li.profile ul.dropdown li a.active { box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; color: #5a5250; font-size:13px; background-color: #fff;}
header .right-div ul li ul.dropdown li a.view{margin-left: 20px!important;}
header .right-div ul li.profile ul.dropdown li a{display: block;text-align: left;padding: 20px 20px 20px 60px;}
header .right-div ul .dropdown_view_profile a{border-radius: 15px 15px 0 0!important;}
header .right-div ul .dropdown_logout a{border-radius: 0 0 15px 15px!important;}

section.main {width:100%; height:auto; padding:50px 0 30px 0; margin-bottom: 100px;}
section.main .content {width:73%; margin-right:2.5%; float:left;}
section.main .sidebar {width:24.5%; float:left;}

section.main .content .main-title {width:100%; min-height:30px; font-size:18px; line-height:22px;}
section.main .content .project-box {width:100%; padding:30px; background-color:#f6f6f6;}
section.main .content .project-box h3 {display:block; margin-bottom:10px; font-size:14px; line-height:18px; color:#b8b8b8; font-family: 'montserratbold'; font-weight:normal; text-transform:uppercase;}
section.main .content .project-box.single-project .details p.developer {font-size: 13px;line-height: 18px; margin: 0;}
section.main .content .project-box.single-project .details p.developer a {color: #4b89dc;text-decoration: underline;}
section.main .content .project-box .details {float:left; width:70%; text-align:left; padding-right:5%;}
section.main .content .project-box .details-numbers {float:left; width:30%; text-align:right;}
section.main .content .project-box .details .user-details {padding-left:50px; position:relative;}
section.main .content .project-box .details .user-details .avatar {width:39px; height:39px; border:1px solid #b8b8b8; position:absolute; left:0; top:0; border-radius:39px; -moz-border-radius:39x; -webkit-border-radius:39px; background-color:#FFF; overflow:hidden; text-align:center;}
section.main .content .project-box .details .user-details .avatar img {width:38px; height:38px; border-radius:38px; -moz-border-radius:38px; -webkit-border-radius:38px;}
section.main .content .project-box .details .user-details a.v-profile {font-size:14px; line-height:18px; color:#7db440; text-decoration:underline;}
section.main .content .project-box .details .user-details small {font-size:14px; line-height:18px; position:relative; padding-left:17px;}
section.main .content .project-box .details .user-details small:before {display: inline-block; font-family: "Ionicons"; speak: none; font-style: normal; font-weight: normal; font-variant: normal;   text-transform: none;  text-rendering: auto;  line-height: 1;  -webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale; content: "\f402"; position:absolute; left:0; top:2px;}
section.main .content .project-box .details .user-details p {font-size:30px; line-height:35px; word-wrap: break-word;}
.project-box .left-box h3{margin-bottom: 0!important;}

section.main .content .project-box .details-numbers ul.milestone-dots {display:inline-block; text-align:right;}
section.main .content .project-box .details-numbers ul.milestone-dots li {display:inline-block; margin-left:8px; vertical-align:middle;}
section.main .content .project-box .details-numbers ul.milestone-dots li span {display:inline-block; width:10px; height:10px; border:1px solid #bbbbbb; background-color:#FFF; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;}
section.main .content .project-box .details-numbers ul.milestone-dots li span.active {border:1px solid #4b89dc; background-color:#4b89dc;}

section.main .content .project-box .details-numbers p {font-size:30px; line-height:35px;}
section.main .content .project-box h3.margin {margin-top:10px;}
section.main .content .project-box .details-numbers .status-bar {width:auto; min-width:100%; height:8px; border:1px solid #b8b8b8; background-color:#FFF; border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px; display:inline-block; position:relative;}
section.main .content .project-box .details-numbers .status-bar .progress {height:8px; border:1px solid #4b89dc; background-color:#4b89dc; border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px; display:inline-block; position:absolute; top:-1px; left:0;}

section.main .content .project-box .main-text {width:100%; height:auto; margin:30px 0; font-size:13px; line-height:18px;word-wrap: break-word;}
section.main .content .project-box .f-left a {margin-right:10px;}
section.main .content .project-comments {width:100%; padding:30px 0; background-color:#f6f6f6; margin:23px 0;}
section.main .content .project-comment-append{padding: 0}

section.main .content .project-comments h3 {display:block; margin-bottom:10px; font-size:14px; line-height:18px; color:#b8b8b8; font-family: 'montserratbold'; font-weight:normal; text-transform:uppercase;}
section.main .content .project-comments .insert-comment {width:100%; height:auto; margin-bottom:10px;}
section.main .content .project-comments .insert-comment ul {text-align:right; float:right;}
section.main .content .project-comments .insert-comment ul li {display:inline-block; margin-left:5px; vertical-align:middle;}
section.main .content .project-comments .insert-comment button {min-width:110px;}

section.main .content .project-comments .comment {width:100%; height:auto; margin-top:30px;}
section.main .content .project-comments .comment .input {width:auto; padding:14px; position:relative; color:#FFF; font-size:13px; line-height:16px; background-color:#b8b8b8; border-radius:13px; -moz-border-radius:13px; -webkit-border-radius:13px; display:inline-block;}
section.main .content .project-comments .comment .input:before {content: "\f104"; display: inline-block; font-family: "Ionicons"; speak: none; font-style: normal; font-weight: normal;  font-variant: normal;  text-transform: none;  text-rendering: auto;  line-height: 1;  -webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale; position:absolute; bottom:-18px; left:7px; font-size:30px; color:#b8b8b8; }
section.main .content .project-comments .comment .user {margin-top:17px; margin-left:12px;}
section.main .content .project-comments .comment .user ul li {display:inline-block; vertical-align:middle; font-size:11px; line-height:14px; padding-right:10px;}
section.main .content .project-comments .comment .user ul li strong {display:block; color:#5a5250; font-family: 'montserratbold'; font-weight:normal; font-size:13px; line-height:16px;}

section.main .content .project-comments .comment .user img {width:40px; height:40px; border-radius:40px; -moz-border-radius:40px; -webkit-border-radius:40px; background-color:#FFF; overflow:hidden; text-align:center; -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.10); -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.10); box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.10);}

section.main .sidebar .files-links {width:100%; height:auto; background-color:#f6f6f6; padding:20px 30px 30px 30px;}
section.main .main-title {width:100%; min-height:45px; font-size:18px; line-height:22px;}
section.main .main-title ul li {display:inline-block; margin-right:18px;}
section.main .main-title ul li:last-child {margin-right:0;}
section.main .main-title ul li a {display:inline-block; font-size: 18px; line-height: 22px; border-bottom: 3px solid #FFF;}
section.main .main-title ul li a.active, section.main .main-title ul li a:hover{ border-bottom:3px solid #b8b8b8;}

section.main .sidebar .tab-content-1,section.main .sidebar .tab-content-2 {display:none;}
section.main .sidebar .search-box {float:left; width:55%; position:relative;}
section.main .sidebar .search-box input[type="text"] {margin:0; padding: 5px 14px 5px 28px; border-radius: 20px; -moz-border-radius: 20px; -webkit-border-radius: 20px;}
section.main .sidebar .search-box button { position:absolute; left:10px; top:5px; border:none; background-color:transparent; color:#b8b8b8;}
section.main .sidebar .link {float:left; width:45%; text-align:right;}
section.main .sidebar .gray-box {background-color:#b8b8b8; color:#5a5250; font-size:11px; line-height:14px; padding:20px; margin-top:20px; border-radius:13px; -moz-border-radius:13px; -webkit-border-radius:13px;}
section.main .sidebar .gray-box strong {font-family: 'montserratbold'; font-weight:normal; font-size:13px; line-height:16px;}
section.main .sidebar .gray-box ul {width:100%; margin-top:15px;}
section.main .sidebar .gray-box ul li {display:inline-block; margin:3px 0 3px 0; max-width: 100%;}
section.main .sidebar .gray-box ul li a {background-color:#716764; color:#FFF; font-size:11px; padding-left:9px; padding-right:9px;}
section.main .sidebar .gray-box ul li a.simple {word-wrap: break-word !important; white-space:pre-wrap; display:block; padding:0; background-color:transparent; color:#716764; text-decoration:underline;}
section.main .sidebar .gray-box ul.short {margin-top:0px;}

.mobile-menu {display:none;}

.overlay {width:100%; height:100%!important; position:absolute; top:0; left:0; background-color:rgba(90,82,80,0.9); z-index:1005; display:none;}

section.popup {display:none; width:600px; height:auto; background-color:#FFF; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; position:fixed; margin-top:0; top:20%; left:50%; margin-left:-300px; -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35); -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35); box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35); z-index:1006; background-color:#f6f6f6;}
section.popup input, section.popup textarea {color:#656d78 !important;}
section.popup .top {height:55px; background-color:#FFF; width:100%; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; position:relative; padding-top:8px; border-bottom-left-radius:0; border-bottom-right-radius:0;}
section.popup .top h1 {width:100%; padding:7px 20px 0 20px; display:block; font-size:16px; line-height:22px; font-weight:normal;}
section.popup .top a#close-it ,section.popup .top a#close-link {position:absolute; right:20px; top:18px; font-size:16px; color:#b8b8b8;}
section.popup .left-div {float:left; width:47%; margin-right:3%;}
section.popup .right-div {float:left; width:47%; margin-left:3%;}

section.popup .middle {padding:20px;}
section.popup .middle input, section.popup textarea {margin-top:0; margin-bottom:20px; padding:5px 15px; font-size:13px; line-height:16px;}
section.popup .drop-files {width:100%; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; border:2px dashed #b8b8b8; margin-bottom:15px; background-color:#FFF; text-align:center; font-size:13px; line-height:16px; padding:20px 0;}
section.popup .drop-files {display:block;}
section.popup a.button, section.popup button.button {font-size:14px; font-family: 'montserratbold'; font-weight:normal; padding: 10px 20px; min-width:135px; text-align:center;}

section.main .content .project-box.single-project {margin-bottom:30px;}
section.main .content .project-box.single-project.last {margin-bottom:30px;}
section.main .content .project-box.single-project .details p {font-size:13px; line-height:18px; margin:20px 0;word-wrap: break-word;}
section.main .content .project-box.single-project .details a.simple {font-family: 'montserratbold'; font-weight:normal; font-size:14px; line-height:18px;}
section.main .content .project-box.single-project .details a.activeProject { color:#7db440;}
section.main .content .project-box.single-project .details a.simple.completed {color:#5a5250;}
section.main .content .project-box .details small {display:block;}
section.main .content .project-box.single-project .details small {color:#b8b8b8;}
section.main .content .project-box.single-project .details small.milestone:before {content: "\f318";}

section.main .content .project-box .details-numbers .complete-date {font-size:12px; color: #b8b8b8; line-height:22px;}

section.main .sidebar .stat-box {background-color:#f6f6f6; padding:30px; font-size:30px; line-height:35px; margin-bottom:10px;}
section.main .sidebar .stat-box h3 {display:block; margin-bottom:10px; font-size:14px; line-height:18px; color:#b8b8b8; font-family: 'montserratbold'; font-weight:normal; text-transform:uppercase;}
section.main .sidebar .stat-box a.button {padding: 5px 10px;}

/* New Project CSS */

section.main .content .project-box ul.project-type {display:block; widows:100%; margin-bottom:25px;}
section.main .content .project-box ul.project-type li {display:inline-block; margin-right:10px; vertical-align:middle;}
section.main .content .project-box ul.project-type li:last-child {margin-right:0px;}
section.main .content .project-box ul.project-type li a small {font-size:12px; line-height:12px; color:#b8b8b8;}

section.main .content .project-box .hourly-div textarea, section.main .content .project-box .fixedjob-div textarea {min-height:200px;}
section.main .content .project-box .hourly-div input, section.main .content .project-box .fixedjob-div input {margin:0 !important; padding: 5px 14px 4px 14px !important;}

section.main .content .project-box ul.invite-freelancer {display:block; width:100%; margin-bottom:25px;}
section.main .content .project-box ul.invite-freelancer li {display:inline-block; margin-right:10px; vertical-align:middle; width: 250px}
section.main .content .project-box ul.invite-freelancer li:last-child {margin-right:0px;}
section.main .content .project-box ul.invite-freelancer li i {font-size:24px; line-height:24px; color:#b8b8b8;}
section.main .content .project-box ul.invite-freelancer li input{width: 75%}
section.main .content .project-box ul.invite-freelancer li img{width: 18px; margin-left: 7px; margin-bottom: -5px;}

section.main .content .project-box .left-box {float:left; min-width:180px; padding-right:15px; margin-bottom:10px; margin-top:20px;}
section.main .content .project-box .left-box input {width:auto !important; max-width:110px; }
section.main .content .project-box .left-box ul {display:block; width:100%;}
section.main .content .project-box .left-box ul li {display:inline-block; margin-right:10px; vertical-align:middle;}
section.main .content .project-box .left-box ul li:last-child {margin-right:0px;}

section.main .tab-content-1, section.main .tab-content-2, section.main .tab-content-3, section.main .tab-content-4 {display:none;}

a.checkbox.active {background-color: #716764; border: 2px solid #716764; color: #FFF;}

section.main .content .project-box .fixedjob-div .milestones {width:100%; height:auto; display:block; margin-bottom:30px;}
section.main .content .project-box .fixedjob-div .milestones ul {display:block; border:2px solid #b8b8b8; border-radius:15px; -moz-border-radius:15px; -webkit-border-radius:15px; background-color:#FFF; margin-top:20px;}
section.main .content .project-box .fixedjob-div .milestones ul li {display:block; padding:20px; text-align:left; font-size:12px; border-bottom:1px solid #b8b8b8; cursor:pointer; position:relative;}
section.main .content .project-box .fixedjob-div .milestones ul li:last-child {border-bottom:none;}
section.main .content .project-box .fixedjob-div .milestones ul li a {display:inline-block; text-align:right; float:right;}
section.main .content .project-box .fixedjob-div .milestones ul li a i {font-size:12px; line-height:14px; color:#b8b8b8;}

/* payment css */

section.main .content .payment-div {width:100%; height:auto; margin-bottom:50px;}
section.main .content .payment-div .single-payment {background-color:#f6f6f6; width:100%; padding:20px; margin-bottom:2px; font-size:13px; line-height:16px;}
section.main .content .payment-div .single-payment strong {display:block; font-size:16px; line-height:18px;}
section.main .content .payment-div .single-payment small {display:inline-block; font-size:13px; line-height:16px; font-weight:bold; padding-left:5px;}
section.main .content .payment-div .single-payment .text {float:left; max-width:50%;}
section.main .content .payment-div .single-payment .price {float:right; max-width:50%;}
section.main .content .payment-div .single-payment .price ul li {display:inline-block; margin-left:35px; vertical-align:middle; text-align:right;}
section.main .content .payment-div .single-payment .price ul li:first-child {margin-left:0;}
section.main .content .payment-div .single-payment a.button {min-width:100px; text-align:center;}
section.main .content .payment-div .single-payment span {display:inline-block; min-width:100px; text-align:center; font-size:13px; line-height:16px; color:#4b89dc;}
section.main .content .payment-div .single-payment span.wide {min-width:150px;}

section.main .content .payment-div .empty-dispute {font-size:13px; line-height:16px; text-align:center; color:#b8b8b8; display:block; border:2px solid #b8b8b8; padding:50px 20px;}

section.popup .middle label {display:block; margin-bottom:10px; font-size:13px; line-height:16px;}
section.popup.new-dispute input {margin-bottom:10px;}
section.popup.new-dispute textarea {min-height:100px;}
.select-custom-div {width:100%; padding-right:50%; margin-bottom:10px; display:block;}
.select-custom-div .select2-container--classic .select2-selection--single .select2-selection__placeholder {font-size:13px; line-height:16px; font-family: 'montserratregular'; font-weight:normal; color:#5a5250;}
.select-custom-div .select2-container--classic .select2-selection--single {border:none !important; border-radius: 13px; -moz-border-radius: 13px; -webkit-border-radius: 13px;}
.select-custom-div .select2-container .select2-selection--single .select2-selection__rendered {padding-left: 15px; padding-right: 25px; padding-top:7px; padding-bottom:7px; font-size:13px; line-height:16px; font-weight:normal; color:#5a5250;}
.select-custom-div .select2-container--classic.select2-container--open .select2-selection--single {border:none !important;}
.select-custom-div .select2-container--classic .select2-selection--single .select2-selection__arrow {height: 30px; top: 0px; right: 1px; background-color: transparent;}
.select-custom-div .select2-container--classic .select2-selection--single .select2-selection__arrow b { border-color: #5a5250 transparent transparent transparent;}
.select-custom-div .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow { background-color: transparent;}
.select-custom-div .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {border-color: transparent transparent #5a5250 transparent;}

.select-custom-dropdown .select2-search--dropdown {padding: 15px 15px 10px 15px;}
.select-custom-dropdown .select2-results__option {padding: 7px 15px;}
.select-custom-dropdown .select2-container--classic .select2-results>.select2-results__options {font-size:13px; line-height:16px; font-family: 'montserrat'; font-weight:normal; color:#5a5250;}
.select-custom-dropdown .select2-container--classic .select2-search--dropdown .select2-search__field {font-size:13px; line-height:16px; font-family: 'montserrat'; font-weight:normal; color:#5a5250;}

ul.top-pages-nav {width:100%; display:block; text-align:left; margin-bottom:20px;}
ul.top-pages-nav li {display:inline-block; padding-right:25px; position:relative;}
ul.top-pages-nav li:after {display: inline-block; font-family: "Ionicons"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; text-rendering: auto;
 line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; position: absolute;  right: 7px;  top: 2px;  font-size: 18px; content: "\f3d1";}
ul.top-pages-nav li:last-child:after {display:none; padding-right:0;}
ul.top-pages-nav li a { text-transform:none; font-size:18px; line-height:22px; color: #716764; display:inline-block;}

section.main .content .dispute-desc {width:100%; height:auto; margin-bottom: 20px; padding: 14px;  font-weight: normal; font-size: 13px; line-height: 16px; text-transform: none;  border-radius: 13px;
 -moz-border-radius: 13px; -webkit-border-radius: 13px; background-color:#b8b8b8; color:#FFF;}
 
section.main .content .dispute-people {width:100%; height:auto; margin-bottom: 20px;}
section.main .content .dispute-people .user {float:left; width:auto; margin-right:40px;}
section.main .content .dispute-people .user ul li {display:inline-block; vertical-align:middle; font-size:11px; line-height:14px; padding-right:10px;}
section.main .content .dispute-people .user ul li strong {display:block; color:#5a5250; font-family: 'montserratbold'; font-weight:normal; font-size:13px; line-height:16px;}

section.main .content .dispute-people .user img {width:40px; height:40px; border-radius:40px; -moz-border-radius:40px; -webkit-border-radius:40px; background-color:#FFF; overflow:hidden; text-align:center; -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.10); -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.10); box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.10);}

section.main .content .bottom-buttons {width:100%; height:auto; margin-bottom:20px;}
section.main .content .project-comments .comment.representative .input {padding: 10px; border:2px dashed #b8b8b8; background-color: transparent; color:#b8b8b8;}
section.main .content .project-comments .comment.representative .input:before {bottom: -21px;}

section.main .content .row-settings {width:100%; max-width:250px; margin-bottom:10px;}
section.main .content .row-settings.client {max-width:100%;}
section.main .content .row-settings.client input[type="text"], section.main .content .row-settings.client input[type="password"], section.main .content .row-settings.client input[type="email"] {max-width:250px; width:100%;}
.keys {
	border: 2px solid #b8b8b8 !important;
	border-radius: 20px;
	padding: 5px 14px 4px 14px !important;
}
.table {width:100%; height:auto; margin-bottom:20px; font-size:13px; line-height:16px;}
.table .row {display:block; width:100%; vertical-align:middle; border-bottom:1px solid #b8b8b8;}
.table .row .col {float:left; width:25%;}
.table .row .col .table-div { height:80px; width:100%;}
.table .row .col span {display:inline-block;}
img.round {width:40px; height:40px; border-radius:40px; -moz-border-radius:40px; -webkit-border-radius:40px; background-color:#FFF; overflow:hidden; text-align:center; -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.10); -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.10); box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.10); display:inline-block; margin-right:10px; vertical-align:middle;}

section.main .content .pre-paid-card {background-image: url('../images/icon-credit-card.png'); background-position:top left; background-repeat:no-repeat; padding-left:120px; padding-right:225px; position:relative;}
section.main .content .pre-paid-card p {display:block; font-size:13px; line-height:16px; margin-top:10px;}
section.main .content .pre-paid-card .left-box {position:absolute; right:0; bottom:10px;}

section.main .content .project-box .left-box.right {float:right; margin-top:20px; padding-right:0; padding-left:0px; margin-bottom:0;}
section.main .content .project-box .left-box.right ul li {margin-right:0; margin-left:10px;}
section.main .content .project-box .separator-line {width:100%; height:1px; background-color:#b8b8b8; display:block; margin:30px 0;}

section.main .content .padding225 {width:100%; display:block; padding-right:225px; position:relative;}
section.main .content .padding225 .left-box.right {position:absolute; right:0; bottom:0px;}
section.main .content .padding225 .left-box {margin-bottom:0;}

section.main .content .row-settings.nomarginbottom {margin-bottom:0;}

.select2-dropdown--below{
	/*border-bottom-left-radius: 15px!important;*/
	/*border-bottom-right-radius: 15px!important;*/
	/*background: #EAE7E7!important;*/
	border: 1px solid #EAE8E8!important;
}
.select2-results__option{
	font-size: 12px!important;
	padding-top: 5px!important;
	padding-left: 14px!important;
}
.select2-results__options li:last-child:hover{
	/*border-bottom-left-radius: 15px!important;
	border-bottom-right-radius: 15px!important;*/
}
.font_error_message{
	padding-left: 15px;
	font-size: 13px;
	color: #E20707;
}
	

.sinup_icon {
	position: relative;
	top: 2px;
	left: 5px;
}

.no-padding {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.btn_learn_more {
	padding-top: 10px !important;
	padding-bottom: 11px !important;
	font-size: 18px !important;
	font-family: 'Lato' !important;
}


.login_btn {
	font-family: 'montserratregular' !important;
}
.login_btn:hover{
	font-family: 'montserratbold'!important;
}
.home_page_signup_btn
{
	-webkit-transition: ease-out 1s;
	-moz-transition: ease-out 1s;
	-o-transition: ease-out 1s;
	transition: ease-out 1s;
}
.home_page_signup_btn:hover{
	background-color: #716764!important;
	color: #ffffff!important;
	-webkit-transition: ease-out 1s;
	-moz-transition: ease-out 1s;
	-o-transition: ease-out 1s;
	transition: ease-out 1s;
}
#login_form .error ,#sign_up_form .error {
	color:rgb(255,128,128);
}
#sign_up_form .error{
	background-color: rgb(255,255,255);
	text-align: left;
	padding-left: 5px;
}
.icons_info_text {
	/*padding-top: 28px;*/
}


.homepage-wrapper {
	max-width:100% !important;
	margin: 0 auto;
	position: relative;
}
/* contact page style */
#contact_page_section {
	overflow: hidden;
}

#contact_page_section .contact_page_section_left {
	border-right: 1px solid #B9C7D5;
	width: 50%;
	float: left;
	text-align: center;
}
#contact_page_section .contact_page_section_left ul {
	float: right;
	margin-right: 95px;
}
#contact_page_section .contact_page_section_right {
	width: 42%;
	float: right;
	text-align: center;
}
#contact_page_section .contact_page_section_right ul {
	float: left;
}
#contact_page_section .contact_page_section_left ul li {
	margin-bottom: 15px;
}

#contact_page_section .contact_page_section_right ul li {
	margin-bottom: 15px;
}
#contact_page_section .contact_page_section_right ul li:last-child {
	margin-top: 40px;
	font-size: 20px;
	margin-bottom: 0px;
}
#contact_page_section .contact_page_section_left ul li:last-child {
	margin-top: 40px;
	font-size: 20px;
	margin-bottom: 0px;
}

#contact_page_section .page_title {
	float: none;
	text-align: center;
}

#contact_page_section .page_title p a {
	margin-bottom:40px;
}
#contact_page_section .page_title img {
	width: 50px;
	margin-bottom: 10px;
	margin-top: 15px;
}
#contact_page_section .contact_form_section .contact_form_section_right {
	margin-bottom: 80px;
}

#contact_page_section .page_title p a:hover {
	text-decoration: underline;
}

#contact_page_section .contact_page_section_right ul li:first-child {
	font-size: 20px;
	margin-bottom: 25px;
}
#contact_page_section .contact_page_section_left ul li:first-child {
	font-size: 20px;
	margin-bottom: 25px;
}
#contact_page_section .contact_form_section {
	overflow: hidden;
	width: 825px;
	margin: 0px auto;
}

#contact_page_section  .contact_form_section  .contact_form_section_right {
	width: 70%;
	margin: 0px auto;
	margin-left: 130px;
}

#contact_page_section  .contact_form_section  .contact_form_section_right .contact_name,
#contact_page_section  .contact_form_section  .contact_form_section_right .contact_email {
	margin-top: 0;
	background-color: #fff  ;
	border: 0 !important;
	text-align: left;
	margin-bottom: 10px;
}
.contact_send_form input, .contact_send_form textarea{
	border-radius: 0!important;
}
.clear_both {
	clear: both;
}
.contact_wrapper{
	max-width: 100%!important;
}
header .contact_wrapper{
	max-width: 1220px!important;
}

#contact_page_section  .contact_form_section  .contact_form_section_right .contact_name::-webkit-input-placeholder,
#contact_page_section  .contact_form_section  .contact_form_section_right .contact_email::-webkit-input-placeholder {
	color:    #8D9CAB !important;
}
#contact_page_section  .contact_form_section  .contact_form_section_right .contact_name:-moz-placeholder,
#contact_page_section  .contact_form_section  .contact_form_section_right .contact_email:-moz-placeholder {
	color:    #8D9CAB !important;
	opacity:  1;
}
#contact_page_section  .contact_form_section  .contact_form_section_right .textarea {
	position: relative;
}
#contact_page_section  .contact_form_section  .contact_form_section_right .textarea textarea {
	margin-top: 0;
	background-color: #fff  ;
	border: 0 !important;
	margin-bottom: 10px;
}

#contact_page_section  .contact_form_section  .contact_form_section_left p {
	color: #5A5250;
	font-size: 16px;
	line-height: 23px;
	margin-top: 150px;
	padding-left: 130px;
}
#contact_page_section  .contact_form_section  .contact_form_section_left p a {
	color: #5A5250;
}
#contact_page_section  .contact_form_section  .contact_form_section_left p a:hover {
	text-decoration: underline;
}


#contact_page_section  .contact_form_section  .contact_form_section_right .contact_send {
	outline: 0;
	border: 0px;
	background-color: #7DB440;
	color: #fff;
	border-radius: 10px;
	padding: 10px 35px 10px 35px;
	float: right;
	margin-top: 5px;
}
#contact_page_section  .contact_form_section  .contact_form_section_right .contact_send:hover {
	background-color: rgba(125, 180, 64, 0.74);
}


/* payments CSS */



section.main .content .payment-div {width:100%; height:auto; margin-bottom:50px;}
section.main .content .payment-div .single-payment {background-color:#f6f6f6; width:100%; padding:20px; margin-bottom:2px; font-size:13px; line-height:16px;}
section.main .content .payment-div .single-payment strong {display:block; font-size:16px; line-height:18px;}
section.main .content .payment-div .single-payment small {display:inline-block; font-size:13px; line-height:16px; font-weight:bold; padding-left:5px;}
section.main .content .payment-div .single-payment .text {float:left; max-width:50%;}
section.main .content .payment-div .single-payment .price {float:right; max-width:70%;}
section.main .content .payment-div .single-payment .price ul li {display:inline-block; margin-left:15px; vertical-align:middle; text-align:right;}
section.main .content .payment-div .single-payment .price ul li:first-child {margin-left:0;}
section.main .content .payment-div .single-payment a.button {min-width:100px; text-align:center;}
section.main .content .payment-div .single-payment span {display:inline-block; min-width:100px; text-align:center; font-size:13px; line-height:16px; color:#4b89dc;}
section.main .content .payment-div .single-payment span.wide {min-width:80px; text-align:right;}

section.main .content .payment-div .empty-dispute {font-size:13px; line-height:16px; text-align:center; color:#b8b8b8; display:block; border:2px solid #b8b8b8; padding:50px 20px;}

section.popup .middle label {display:block; margin-bottom:10px; font-size:13px; line-height:16px;}
section.popup.new-dispute input {margin-bottom:10px;}
section.popup.new-dispute textarea {min-height:100px;}
.select-custom-div {width:100%; padding-right:50%; margin-bottom:10px; display:block;}
.select-custom-div .select2-container--classic .select2-selection--single .select2-selection__placeholder {font-size:13px; line-height:16px; font-family: 'montserrat'; font-weight:normal; color:#5a5250;}
.select-custom-div .select2-container--classic .select2-selection--single {border:none !important; border-radius: 13px; -moz-border-radius: 13px; -webkit-border-radius: 13px;}
.select-custom-div .select2-container .select2-selection--single .select2-selection__rendered {padding-left: 15px; padding-right: 25px; padding-top:7px; padding-bottom:7px; font-size:13px; line-height:16px; font-family: 'montserrat'; font-weight:normal; color:#5a5250;}
.select-custom-div .select2-container--classic.select2-container--open .select2-selection--single {border:none !important;}
.select-custom-div .select2-container--classic .select2-selection--single .select2-selection__arrow {height: 30px; top: 0px; right: 1px; background-color: transparent;}
.select-custom-div .select2-container--classic .select2-selection--single .select2-selection__arrow b { border-color: #5a5250 transparent transparent transparent;}
.select-custom-div .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow { background-color: transparent;}
.select-custom-div .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {border-color: transparent transparent #5a5250 transparent;}

.select-custom-dropdown .select2-search--dropdown {padding: 15px 15px 10px 15px;}
.select-custom-dropdown .select2-results__option {padding: 7px 15px;}
.select-custom-dropdown .select2-container--classic .select2-results>.select2-results__options {font-size:13px; line-height:16px; font-family: 'montserrat'; font-weight:normal; color:#5a5250;}
.select-custom-dropdown .select2-container--classic .select2-search--dropdown .select2-search__field {font-size:13px; line-height:16px; font-family: 'montserrat'; font-weight:normal; color:#5a5250;}

ul.top-pages-nav {width:100%; display:block; text-align:left; margin-bottom:20px;}
ul.top-pages-nav li {display:inline-block; padding-right:25px; position:relative;}
ul.top-pages-nav li:after {display: inline-block; font-family: "Ionicons"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; text-rendering: auto;
	line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; position: absolute;  right: 7px;  top: 2px;  font-size: 18px; content: "\f3d1";}
ul.top-pages-nav li:last-child:after {display:none; padding-right:0;}
ul.top-pages-nav li a { text-transform:none; font-size:18px; line-height:22px; color: #716764; display:inline-block;}

section.main .content .dispute-desc {width:100%; height:auto; margin-bottom: 20px; padding: 14px;  font-weight: normal; font-size: 13px; line-height: 16px; text-transform: none;  border-radius: 13px;
	-moz-border-radius: 13px; -webkit-border-radius: 13px; background-color:#b8b8b8; color:#FFF;}

section.main .content .dispute-people {width:100%; height:auto; margin-bottom: 20px;}
section.main .content .dispute-people .user {float:left; width:auto; margin-right:40px;}
section.main .content .dispute-people .user ul li {display:inline-block; vertical-align:middle; font-size:11px; line-height:14px; padding-right:10px;}
section.main .content .dispute-people .user ul li strong {display:block; color:#5a5250; font-family: 'montserratbold'; font-weight:normal; font-size:13px; line-height:16px;}

section.main .content .dispute-people .user img {width:40px; height:40px; border-radius:40px; -moz-border-radius:40px; -webkit-border-radius:40px; background-color:#FFF; overflow:hidden; text-align:center; -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.10); -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.10); box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.10);}

section.main .content .bottom-buttons {width:100%; height:auto; margin-bottom:20px;}
section.main .content .project-comments .comment.representative .input {padding: 10px; border:2px dashed #b8b8b8; background-color: transparent; color:#b8b8b8;}
section.main .content .project-comments .comment.representative .input:before {bottom: -21px;}

section.main .content .row-settings {width:100%; max-width:250px; margin-bottom:10px; min-height: 30px}
section.main .content .row-settings.client {max-width:100%;}
section.main .content .row-settings.client input[type="text"], section.main .content .row-settings.client input[type="password"], section.main .content .row-settings.client input[type="email"] {max-width:250px; width:100%;}

.table {width:100%; height:auto; margin-bottom:20px; font-size:13px; line-height:16px;}
.table .row {display:block; width:100%; vertical-align:middle; border-bottom:1px solid #b8b8b8;}
.table .row .col {float:left; width:25%;}
.table .row .col .table-div { height:80px; width:100%;}
.table .row .col span {display:inline-block;}
img.round {width:40px; height:40px; border-radius:40px; -moz-border-radius:40px; -webkit-border-radius:40px; background-color:#FFF; overflow:hidden; text-align:center; -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.10); -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.10); box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.10); display:inline-block; margin-right:10px; vertical-align:middle;}

section.main .content .pre-paid-card {background-image: url('../images/icon-credit-card.png'); background-position:top left; background-repeat:no-repeat; padding-left:120px; padding-right:225px; position:relative;}
section.main .content .pre-paid-card p {display:block; font-size:13px; line-height:16px; margin-top:10px;}
section.main .content .pre-paid-card .left-box {position:absolute; right:0; bottom:10px;}

section.main .content .project-box .left-box.right {float:right; margin-top:20px; padding-right:0; padding-left:0px; margin-bottom:0;}
section.main .content .project-box .left-box.right ul li {margin-right:0; margin-left:10px;}
section.main .content .project-box .separator-line {width:100%; height:1px; background-color:#b8b8b8; display:block; margin:30px 0;}

section.main .content .padding225 {width:100%; display:block; padding-right:225px; position:relative;}
section.main .content .padding225 .left-box.right {position:absolute; right:0; bottom:0px;}
section.main .content .padding225 .left-box {margin-bottom:0;}

section.main .content .row-settings.nomarginbottom {margin-bottom:0;}

.desc-me {display:none;}


section.popup.small {width:420px; margin-left:-210px;}

section.popup .middle-full {padding-top:20px; width:100%;}

section.popup.withdrawal-ammount .wa-input {width:100%; margin:0; padding:11px 20px; font-size:30px; line-height:33px; color:#5a5250; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; border:none !important; text-align:center; -webkit-box-shadow: inset 0px 3px 21px -6px rgba(0,0,0,0.55); -moz-box-shadow: inset 0px 3px 21px -6px rgba(0,0,0,0.55); box-shadow: inset 0px 3px 21px -6px rgba(0,0,0,0.55);}
section.popup.withdrawal-ammount .select-custom-div-big {width:200px;}

.select-custom-div-big.select2-container--classic .select2-selection--single .select2-selection__placeholder {font-size:13px; line-height:16px; font-family: 'montserrat'; font-weight:normal; color:#5a5250;}
.select-custom-div-big .select2-container--classic .select2-selection--single {border:none !important; border-radius: 20px; -moz-border-radius: 20px; -webkit-border-radius: 20px;}
.select-custom-div-big .select2-container .select2-selection--single .select2-selection__rendered {padding-left: 15px; padding-right: 25px; padding-top:12px; padding-bottom:12px; font-size:13px; line-height:16px; font-family: 'montserrat'; font-weight:normal; color:#5a5250;}
.select-custom-div-big .select2-container--classic.select2-container--open .select2-selection--single {border:none !important;}
.select-custom-div-big .select2-container--classic .select2-selection--single .select2-selection__arrow {height: 40px; top: 0px; right: 1px; background-color: transparent;}
.select-custom-div-big .select2-container--classic .select2-selection--single .select2-selection__arrow b { border-color: #5a5250 transparent transparent transparent;}
.select-custom-div-big .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow { background-color: transparent;}
.select-custom-div-big .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {border-color: transparent transparent #5a5250 transparent;}

section.popup.withdrawal-thanks .middle {font-size:14px; line-height:16px;}


.found-div {width:100%; height:auto; position:relative;}
.found-div .top {height:65px; width:100%; background-color:#f6f6f6; border-bottom:2px solid #b8b8b8; padding:0 20px;}
.found-div .top .table-div {height:65px; width:100%;}
.found-div .top strong {font-size:18px; line-height:22px; display:inline-block; padding-top:7px;}
.found-div .top span {font-size:18px; line-height:22px; display:inline-block; color:#a4a4a4; text-align:right;}
.found-div .top span span {color:#5a5250; padding-left:5px;}
.found-div .top span small {display:block; font-size:12px; line-height:15px;}

.found-div .payment {height:50px; width:100%; background-color:#f6f6f6; border-bottom:1px solid #FFF; padding:0 20px; font-size:14px; line-height:18px;}
.found-div .payment .table-div {height:50px; width:100%;}
.found-div .payment label {display:inline-block; padding-left:15px; cursor:pointer;}
.found-div .payment.dontpay span { text-decoration:line-through;}
.found-div .payment.total {border-top:2px solid #b8b8b8; color:#a4a4a4; text-transform: uppercase;}
.found-div .payment.total strong { padding-left:30px; color:#5a5250;}
.found-div .payment.total.noborder {border-top:none;}

.payment-method {width:100%; height:auto; margin-top:30px; background-color:#f6f6f6; padding:30px;}
.payment-method h3 {font-size:14px; line-height:18px; color:#b8b8b8; font-family: 'montserratbold'; font-weight:normal; text-transform:uppercase; margin-bottom:20px; display:block;}
.payment-method figure {float:left; width:32%; margin-right:2%; border:2px solid #b8b8b8; background-color:#FFF; padding:30px; text-align:center; font-size:14px; line-height:18px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
.payment-method figure.last {margin-right:0;}
.payment-method figure strong {display:block; text-align:center; text-transform:uppercase;}
.payment-method figure small {display:block; color:#b8b8b8; margin-top:10px;}
.payment-method figure a.button {width:80%;}

.cc-row {width:100%; height:50px; margin-bottom:1px; background-color:#f6f6f6; padding:0 10px;}
.cc-row .table-div {height:50px;}

.found-client input[type="text"], .found-client textarea {margin-top:0; margin-bottom:0px; padding:5px 15px; font-size:13px; line-height:16px;}
.found-client {font-size:13px; line-height:16px;}
.found-client label {padding-left:10px; cursor:pointer;}
.found-client .ccv {display:none;}
.cc-row.new-card {padding:10px; height:auto;margin-bottom: 15px}
.cc-row.new-card  .table-div {height:auto;}
.cc-row.new-card .insert-card {margin:20px 10px; background-color:#FFF; padding:20px; display:none;}
.cc-row.new-card .insert-card .box {float:left; width:250px; margin-right:30px;}
.cc-row.new-card .insert-card .box .select-custom-div {margin-bottom:0; padding-right:0; width: 46%;}
.cc-row.new-card .insert-card .box label {color:#b8b8b8; margin-bottom:5px; display:block; width:100%; padding-left:0; cursor:default; font-size:14px; font-family: 'montserratbold'; font-weight:normal;}

.cc-row.new-card .insert-card .box .select-custom-div .select2-container .select2-selection--single .select2-selection__rendered {font-size:12px;}

.select-custom-dropdown-small .select2-search--dropdown {padding: 10px 10px 5px 10px;}
.select-custom-dropdown-small .select2-results__option {padding: 7px 10px;}
.select-custom-dropdown-small .select2-container--classic .select2-results>.select2-results__options {font-size:11px; line-height:14px; font-family: 'montserrat'; font-weight:normal; color:#5a5250;}
.select-custom-dropdown-small .select2-container--classic .select2-search--dropdown .select2-search__field {font-size:11px; line-height:14px; font-family: 'montserrat'; font-weight:normal; color:#5a5250;}

.paypal-box {width:100%; padding:20px; background-color:#f6f6f6; font-size:12px; line-height:20px;margin-bottom: 15px}
.paypal-box label {color:#b8b8b8; display:block; width:100%; padding-left:0; text-transform:uppercase; cursor:default; font-size:14px; font-family: 'montserratbold'; font-weight:normal;}
.paypal-box a {color:#7db440; text-decoration:underline;}

.bank-box {width:100%; padding:20px; background-color:#f6f6f6; font-size:14px; line-height:18px;}
.bank-box p strong {display:block; color:#7db440; font-size:18px; line-height:22px;}
.bank-box .details {width:100%; padding:20px; background-color:#FFF; margin-bottom:15px;}
.bank-box .details .box {float:left; width:280px;}
.bank-box .details .box strong {font-size:14px; line-height:18px;}

.found-thanks {width:100%; margin-bottom:30px; display:none;}
.found-thanks .inside {width:100%; padding:30px; background-color:#f6f6f6; font-size:14px; line-height:18px; margin-bottom:30px;}
.found-thanks .inside strong {font-size:18px; line-height:22px; color:#7db440;}


section.popup.request-funding .middle label {display: inline-block; padding-left:7px; cursor:pointer;  margin-bottom: 0;  font-size: 13px;  line-height: 16px; vertical-align:middle;}
section.popup .milestone-row {width:100%; padding:0 10px; height:50px; font-size:14px; line-height:18px; text-align:left; position:relative;}
section.popup .milestone-row .table-div {width:100%; height:50px;}
section.popup .milestone-row small {display:inline-block; width:100%; color:#b8b8b8; font-family: 'montserratbold'; font-weight:normal;}
section.popup .milestone-row.radio {height:auto; margin-bottom:15px;}
section.popup .milestone-row.radio .table-div {height:auto;}
section.popup .milestone-row.radio .f-left {width:100%;}
section.popup .milestone-row.radio .f-left label {width:100%; padding-left:45px; margin-bottom:0; cursor:pointer;}
section.popup .milestone-row.radio .iradio_flat-grey {position:absolute; left:10px; top:50%; margin-top:-15px;}
section.popup .middle.border-bottom {border-bottom:1px solid #b8b8b8;}

section.popup.request-funding-thanks .middle {padding-top:30px; padding-bottom:30px; color:#7db440;}

a.quick-pay {background-color:#b8b8b8; width:30px; height:30px; border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px; text-align: center; padding-top:7px;}
section.main .content .payment-div .single-payment .price .release-required {min-width:150px;}
section.main .content .payment-div .single-payment .price .release-required-remind {font-size:13px; line-height:16px; text-align:center; min-width:150px; display:none;}
section.main .content .payment-div .single-payment .price .release-required-remind.display {display:inline-block !important;}
section.main .content .payment-div .single-payment .price .release-required-remind span {display:block;}
section.main .content .payment-div .single-payment .price .release-required-remind span a {color:#7db440;}

section.popup.quick-payment-request .wa-input {width:100%; margin:0; padding:11px 20px; font-size:30px; line-height:33px; color:#5a5250; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; border:none !important; text-align:center; -webkit-box-shadow: inset 0px 3px 21px -6px rgba(0,0,0,0.55); -moz-box-shadow: inset 0px 3px 21px -6px rgba(0,0,0,0.55); box-shadow: inset 0px 3px 21px -6px rgba(0,0,0,0.55);}
section.popup.quick-payment-request .info {font-size:12px; line-height:18px; padding-bottom:0;}



/*==========================================
*** RESPONSIVNESS STYLES - TABs AND MOBILE
==========================================*/

@media screen and (min-width: 1366px) {
	.map_block{
		margin: 0 auto;
		width: 970px;
	}
}
@media screen and (max-width: 1055px) {
	.map_block{
		margin: 0 auto;
		width: 470px;
	}
}

@media only screen and (max-width: 1300px) {
	footer {padding-left:2%; padding-right:2%;}
	.wrapper {width:100%; padding-left:30px; padding-right:30px;}
	#contact_page_section .contact_form_section .contact_form_section_right {
	}
}


@media only screen and (max-width: 1024px) {

	body { overflow-x:hidden;}

	.nav-list {text-align: center; width: 100%;}
	.nav-mobile {display:block; top: 27px; right:10px; font-size: 35px; padding: 0px; color:#5a5250; }
	.nav-mobile.active {background-color:transparent; color:#7db440;}
	.nav {width: 100%; margin-left:0%; padding:0; display:none; margin-right:0%; position:absolute; z-index:1500; background-color: #75a93c; top: 90px; margin-top:0;}
	.nav-list {display:none; z-index:1200 !important;}
	.nav-item {width:100%; float:none; border-bottom: none; margin-left: 0px; padding:0%; text-align:left; border-bottom:1px solid #FFF !important;}
	.nav-item.active {background-image: none; color: #1d3d74;}
	.nav-item > a, .nav-item a.noborder {color:#FFF; padding: 15px 5%; font-size:21px; font-family: 'montserratregular';  width:100%;  border:none; font-weight:400; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0;}
	.nav-item:hover > a {color:#FFF; background-color:#6a9837;}
	.nav-item > a:hover, .nav-item > a.active {color:#FFF; background-color:#6a9837;}
	.nav-item:hover, .nav-item.active {}
	.nav-click {display:block;}
	.nav-item .fa {display:none;}
	.nav-mobile-open {border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0;}
	.nav-item:hover .nav-submenu {display:none;}
	.nav-submenu {position:static; width:100%; left: 0%; margin-left: 0px; border: none; background-color:#6aaad1;}
	.nav-submenu-item {margin: 0%;  width: 100%;}
	.nav-submenu-item a {border-bottom: none; padding-left:0; padding-right:0; text-align:left; width: 95%; margin-left:5%; font-size:16px; border-bottom:1px solid #85b9d9;}
	.nav-submenu-item:last-child a {border-bottom:none;}
	.nav-submenu-item a:hover {background-color:transparent !important;}
	.nav-item > a:hover, .nav-item.active > a {color: #FFF;}

	header {height:600px; background-size:120%; background-position:bottom -50px center;}
	header .top-menu {display:none;}
	header .logo {display:inline-block; vertical-align:middle; text-transform:uppercase; font-size:18px; z-index:1010; position:absolute; left:2%; top:0px;}
	header .logo img, header .logo span {display:inline-block; vertical-align:middle;}
	header .logo img {margin-right:15px;}

	header .main-menu .wrapper {width:100%; padding-left:0; padding-right:0;}

	header .text {top: 135px; margin-top: 0;}

	section.what-you-get, section.how-it-works, section.try-it-now {padding: 55px 0;}
	section.what-you-get .inside {padding: 0 10px;}

	footer {height:auto; padding:15px 0;}
	footer .table-div, footer .wrapper {height:auto;}
	footer .f-left, footer .f-right {width:100%; height:auto; padding:15px 0 15px 0; text-align:center;}

	section.main .content {width:100%; margin-bottom:30px; margin-right:0;}
	section.main .sidebar {width:100%;}

	.mobile-menu {display:block;}
	header .menu-div, header .right-div {display:none;}
	section.popup {top:100px;}

	.nav .desktop-only {display:none !important;}
	.nav .mobile-only {display:block;}
	.nav .desktop-inline-only {display:none !important;}
	.nav .mobile-inline-only {display:inline-block;}

	section.main .content .dispute-people .user {margin-bottom:20px;}

	.table .row .col.text-center {text-align:left;}

}

@media only screen and (max-width: 767px) {


	.desktop-only {display:none !important;}
	.mobile-only {display:block;}
	.desktop-inline-only {display:none !important;}
	.mobile-inline-only {display:inline-block;}

	header {height:400px; background-size:520px; background-position:bottom -50px center;}
	header .text h1 {font-size: 30px;  line-height: 35px;}

	.landing-home section h3 {margin-bottom:50px;}
	section.what-you-get figure {width:100%; margin-right:0;}

	section.how-it-works .half-div {width:100%; margin-left:0; margin-right:0;}

	section.how-it-works .wrapper {padding:0;}
	section.try-it-now .form {width:80%;}

	footer ul li {margin-right: 20px; margin-left:20px; margin-bottom:5px;}

	section.signup {width:80%; margin-left:10%; margin-right:10%;}
	section.popup {width:90%; margin-left:5%; margin-right:5%; left:auto;}

	section.main .content .project-box .f-right {float:left !important; margin-top:15px; width:100%;}

	section.main .content .payment-div .single-payment .text, section.main .content .payment-div .single-payment .price {min-width:100%; width:100%; float:left; text-align:left;}
	section.main .content .payment-div .single-payment .price {margin-top:20px;}
	section.main .content .payment-div .single-payment .price ul li {text-align:left; margin-left:0; width:100%;}
	section.main .content .payment-div .single-payment .price span {text-align:left;}
	section.main .content .payment-div .single-payment .price ul li:last-child {margin-top:20px;}

	section.main .content .main-title {padding-bottom:10px;}
	section.main .main-title ul li {margin-bottom:5px; margin-top:5px;}

	.table .row {padding-bottom:20px; margin-bottom:20px;}
	.table .row .col {width:100%; height:auto; padding:5px 0;}
	.table .row .col .table-div {height:auto;}

	section.main .content .pre-paid-card, section.main .content .padding225 {padding-right:0;}
	section.main .content .project-box .left-box.right {position:relative; top:auto; bottom:auto; display:block; width:100%; text-align:left;}
	section.main .content .project-box .left-box.right ul li {margin-left:0; margin-right:10px;}
	section.main .content .pre-paid-card {padding-left:0; background-image:none;}
	section.main .content .pre-paid-card img {margin-bottom:10px;}

	#contact_page_section .contact_page_section_left {
		width: 100%;
		float: none;
		text-align: center;
		border-bottom: 1px solid #B9C7D5;
		margin-bottom: 35px;
		border-right: 0px;
	}
	#contact_page_section .contact_page_section_right {
		width: 100%;
		float: none;
		text-align: center;
	}
	#contact_page_section .contact_page_section_left ul {
		float: none;
		margin-right: 0px;
		margin-bottom: 35px;
	}
	#contact_page_section .contact_page_section_right ul {
		float: none;
	}

	.popup_upload_files .modal-dialog {
		width: 80%;
	}


}



@media only screen and (max-width: 479px) {

	body {font-size:15px; line-height:19px;}
	.wrapper {padding-left: 20px; padding-right: 20px;}
	.nav-item > a, .nav-item a.noborder {font-size: 15px; padding: 10px 5%;}
	header .text {max-width: 100%; padding-left:2%; padding-right:2%; margin-left:0; left:auto; position:relative; top: 100px;}
	section.what-you-get figure strong {font-size: 17px; line-height: 21px;}

	section.signup .internal {padding: 25px;}
	section.signup input {margin-top:15px;}

	#disputePublic,#disputePrivate{width: 100%!important;}
	section.main .content .project-box .details {width:100%; margin-bottom:15px;}
	section.main .content .project-box .details-numbers {width:100%; text-align:left !important;}
	section.main .content .project-comments .insert-comment ul {text-align: left; float: left;width: 100%}
	section.main .content .project-comments .insert-comment ul li {margin-left:0; margin-right:5px; margin-bottom:0;width: 100%;text-align: center}

	.admin-template header {height:60px;}
	header .logo-div {margin-top: 10px; margin-right:0;}

	section.popup {top:60px;}
	section.popup a.button, section.popup button.button {min-width:10px;}

	section.main .content .project-box.single-project .details-numbers {padding-left: 50px;}

	section.main .content .project-box ul.project-type li, section.main .content .project-box .left-box ul li {margin-bottom:10px;}
	section.main .content .project-box .fixedjob-div .milestones ul li {padding:10px 20px;}

	.nav-mobile {top: 12px;}
	.nav {top:60px;}
	a.button {text-align:center;}

	.select-custom-div {padding-right:0%;}
	section.popup .buttons .f-left {float:left; margin-bottom:10px; width:100%;}
	section.popup .buttons .f-right {float:left; width:100%;}

	section.main .content .bottom-buttons .f-left {width:100%; margin-bottom:10px; float:left;}
	section.main .content .bottom-buttons .f-right {width:100%; margin-bottom:0px; float:left;}

	section.main .content .row-settings, section.main .content .row-settings.client input[type="text"], section.main .content .row-settings.client input[type="password"], section.main .content .row-settings.client input[type="email"] {max-width:100%;}
	section.main .content .project-box .left-box.right {text-align:left;}
	section.main .content .project-box .left-box.right ul li {margin-left:0; margin-right:10px;}
	section.main .content .project-box .left-box {width:100%; text-align:left;}

	.discardbtn {
		display: block;
		float: none;
		width: 100%;
		margin-bottom: 10px;
	}
	.discardbtn a {
		width: 100%;
	}

	#submit_dispute {
		display: block;
		float: none;
		width: 100%;
	}

	#popup_add_description .modal-body .f-left {
		float: none;
	}

	#popup_add_description .modal-body .f-left button {
		width: 100%;
		margin-bottom: 10px;
	}
	#popup_add_description .modal-body .f-right {
		float: none;
	}

	#popup_add_description .modal-body .f-right button {
		width: 100%;
	}
	.popup_upload_files .btns_section .f-left {
		float: none;
		width: 100%;
		margin-bottom: 10px;
	}
	.popup_upload_files .btns_section .f-left a {
		width: 100%;
	}

	.popup_upload_files .btns_section .f-right {
		float: none;
		width: 100%;
		margin-bottom: 10px;
	}
	.popup_upload_files .btns_section .f-right button {
		width: 100%;
	}


}

@media only screen and (max-width: 1140px) {
	#contact_page_section .contact_form_section .contact_form_section_right {
		width: 100%;
		margin: 0px auto;
	}
}
@media only screen and (max-width: 570px) {
	#contact_page_section .contact_form_section .contact_form_section_right {
		margin-bottom: 80px;
	}
}
.form-error {
	font-family: 'RobotoRegular';
	font-size: 14px;
}
.fixed_price_section {
	display: none;
}

/* forgot_password */
.forgot_password_link {
	/*position: absolute;*/
	/*right: 50px;*/
	text-align: right;
	display: inherit;
	margin-top: 12px;
	font-family: 'montserratregular';
	font-size: 12px;
	color: #B8B8B8 !important;
	text-decoration: underline;
}

section.signup .form button:hover {
	background-color: #fff;
	color: #7db440;
	transition: all 0.5s ease-out;
}
#forgot_pass_form button i {
	position: relative;
	top: 2px;
	left: 3px
}
#forgot_pass_form  input {
	text-align: center;
}


#forgot_pass_form .info_text {
	font-size: 16px;
	font-family: 'montserratregular';
	color: #716764;
	text-align: center;
}

.link_to_login {
	display: none;
}

.forgot_section {
	display: none ;
}
/* forgot_password */
#popup_new_dispute .modal-header .close {
	opacity: 1;
}
#popup_new_dispute .modal-header .close a {
	font-size: 16px;
	color: #b8b8b8;
	margin-right: 5px;
}
#popup_new_dispute .modal-content {
	border-radius: 10px;
}
#popup_new_dispute .modal-header {
	height: 55px;
	margin-top: 4px;
	padding-left: 20px;
	border-radius: 10px;
	border-bottom: 0;
	background-color: #FFF;
}
#popup_new_dispute .modal-header .modal-title {
	width: 100%;
	display: block;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal !important;
}

#popup_new_dispute .modal-body {
	background-color: #F6F6F6;
	border-radius: 0px 0px 10px 10px;
}

#popup_new_dispute .modal-body textarea {
	min-height: 100px;
}

#popup_new_dispute .modal-body input {
	margin-top: 0;
	margin-bottom: 10px;
	padding: 5px 15px;
	font-size: 13px;
	line-height: 16px;
}

#popup_new_dispute .modal-body  label {
	display: block;
	margin-bottom: 10px;
	font-size: 13px;
	line-height: 16px;
}

#popup_new_dispute .modal-body button.button, .discard_btn {
	font-size: 14px !important;
	font-family: 'montserratbold';
	font-weight: normal;
	padding: 10px 20px !important;
	min-width: 135px;
	text-align: center;
	transition: all 0.5s ease-out;

}

#popup_new_dispute .modal-body button.button:hover {
	background-color: #fff;
	color: #7db440;
	transition: all 0.5s ease-out;
}

 .select2-container--classic .select2-search--dropdown .select2-search__field {
	font-size: 16px !important;
	font-family: 'RobotoRegular' !important;
}

#popup_notification .modal-header .close {
	opacity: 1;
}
#popup_notification .modal-header .close a {
	font-size: 16px;
	color: #b8b8b8;
	margin-right: 5px;
}
#popup_notification .modal-content {
	border-radius: 10px;
}
#popup_notification .modal-header {
	height: 55px;
	margin-top: 4px;
	padding-left: 20px;
	border-radius: 10px;
	border-bottom: 0;
	background-color: #FFF;
}
#popup_notification .modal-header .modal-title {
	width: 100%;
	display: block;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal !important;
	font-family: 'Montserrat';
}

#popup_notification .modal-body {
	background-color: #F6F6F6;
	border-radius: 0px 0px 10px 10px;
}

#popup_notification .modal-body .text-center button {
	padding: 10px 30px 10px 30px;
	margin-top: 35px;
	margin-bottom: 10px;
	transition: all 0.5s ease-out;
}


#popup_notification .modal-body  .descriprion_txt{
	text-align: center;
	margin-top: 10px;
	font-family: 'RobotoRegular' !important;
}

#popup_notification .modal-body .text-center button:hover  {
	background-color: #fff;
	color: #7db440;
	transition: all 0.5s ease-out;
}



#popup_add_description .modal-header .close {
	opacity: 1;
}
#popup_add_description .modal-header .close a {
	font-size: 16px;
	color: #b8b8b8;
	margin-right: 5px;
}
#popup_add_description .modal-content {
	border-radius: 10px;
}
#popup_add_description .modal-header {
	height: 55px;
	margin-top: 4px;
	padding-left: 20px;
	border-radius: 10px;
	border-bottom: 0;
	background-color: #FFF;
}
#popup_add_description .modal-header .modal-title {
	width: 100%;
	display: block;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal !important;
	font-family: 'Montserrat';
}

#popup_add_description .modal-body {
	background-color: #F6F6F6;
	border-radius: 0px 0px 10px 10px;
}

#popup_add_description .modal-body textarea {
	min-height: 100px;
}

#popup_add_description .modal-body input {
	margin-top: 0;
	margin-bottom: 10px;
	padding: 5px 15px;
	font-size: 13px;
	line-height: 16px;
}

#popup_add_description .modal-body  label {
	display: block;
	margin-bottom: 10px;
	font-size: 13px;
	line-height: 16px;
}

#popup_add_description .modal-body button.button, .discard_btn {
	font-size: 14px !important;
	font-family: 'montserratbold';
	font-weight: normal;
	padding: 10px 20px !important;
	min-width: 135px;
	text-align: center;
	transition: all 0.5s ease-out;

}

#popup_add_description .modal-body .f-left button {
	background-color: #F6F6F6;
	transition: all 0.5s ease-out;
	color: #B8B8B8;
}
#popup_add_description .modal-body .f-left button:hover {
	background-color: #B8B8B8;
	transition: all 0.5s ease-out;
	color: #5A5250;
}
#popup_add_description .modal-body .f-right button {
	background-color: #7DB440;
	transition: all 0.5s ease-out;
	color: #fff;
	border: 2px solid #7DB440;
}
#popup_add_description .modal-body .f-right button:hover {
	background-color: #fff;
	transition: all 0.5s ease-out;
	color: #7DB440;
}

#popup_add_description .modal-body .f-right .ion-plus:before {
	margin-right: 5px;
}

.add-description:before {
	margin-right: 3px;
}
#forgot_pass_form .email_error{
	color: #E27164;
}
#forgot_pass_form .success_msg{
	color: #7DB440;
}

.milestone-list tr {
	background-color: #fff;
}

 .check_checkbox {
	display: none;
}

.check_checkbox:checked + .label_check_checkbox {
	background: url('../images/check_item2.png') no-repeat;
	height: 21px;
	margin-left: 5px;
}

 .check_checkbox + .label_check_checkbox {
	background: url('../images/check_item1.png') no-repeat;
	height: 21px;
	padding-left: 20px;
	cursor: pointer;
	position: relative;
	top: 8px;
	margin-right: 5px;
	 margin-left: 5px;
}

.add_milestone {
	 margin-bottom: 25px;
}

.popup_upload_files .modal-header .close {
	opacity: 1;
}
.popup_upload_files .modal-header .close a {
	font-size: 16px;
	color: #b8b8b8;
	margin-right: 5px;
}
.popup_upload_files .modal-content {
	border-radius: 10px;
}
.popup_upload_files .modal-header {
	height: 55px;
	margin-top: 4px;
	padding-left: 20px;
	border-radius: 10px;
	border-bottom: 0;
	background-color: #FFF;
}
.popup_upload_files .modal-header .modal-title {
	width: 100%;
	display: block;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal !important;
	font-family: 'Montserrat';
}

.popup_upload_files .modal-body {
	background-color: #F6F6F6;
	border-radius: 0px 0px 10px 10px;
}

.popup_upload_files .modal-body textarea {
	min-height: 100px;
}

.popup_upload_files .modal-body input {
	margin-top: 0;
	margin-bottom: 10px;
	padding: 5px 15px;
	font-size: 13px;
	line-height: 16px;
}

.popup_upload_files .modal-body  label {
	display: block;
	margin-bottom: 10px;
	font-size: 13px;
	line-height: 16px;
}


.popup_upload_files .modal-body .drop-files.group.fileupload-buttonbar {
	width: 100%;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 2px dashed #b8b8b8;
	margin-bottom: 15px;
	background-color: #FFF;
	text-align: center;
	font-size: 13px;
	line-height: 16px;
	padding: 20px 0;
	margin-top:8px;
}

.popup_upload_files .modal-body .fileupload_zone .drop-files {
	padding-top: 70px !important;
	padding-bottom: 70px !important;
}
.popup_upload_files #selectedFiles {
	height: 55px;
	margin-top: 10px;
}
.popup_upload_files .modal-body .fileupload_zone .drop_info {
	font-size: 12px;
	font-family: 'montserratregular';
	color: #716764;
}
.popup_upload_files .modal-body .uploadField {
	background-color: #B8B8B8;
	border-radius: 30px;
	padding: 5px 10px;
}
.popup_upload_files .modal-body .uploadField span {
	font-size: 12px;
	color: #5A5250;
	position: relative;
	top: -1px;
	font-family: 'montserratregular';
	text-decoration: none;
}
.popup_upload_files .btns_section .f-left a {
	padding: 10px 20px;
	min-width: 135px;
	text-align: center;
	color:#B8B8B8;
	font-family: 'montserratbold';
	font-weight: normal;
	font-size: 14px;
	transition: all 0.5s ease-out;
}

.popup_upload_files .btns_section .f-right button {
	padding: 10px 20px;
	min-width: 135px;
	text-align: center;
	color:#fff;
	font-family: 'montserratbold';
	font-weight: normal;
	font-size: 14px;
	transition: all 0.5s ease-out;
}


.popup_upload_files .btns_section .f-left a:hover {
	transition: all 0.5s ease-out;
	background-color: #b8b8b8;
	color: #5a5250;
}

.popup_upload_files .btns_section .f-right button:hover {
	background-color: #fff;
	transition: all 0.5s ease-out;
	color: #7DB440;
}
.popup_upload_files .btns_section {
	margin-top: 25px;
}

section.main .content .project-comments .comment p {
	word-break: break-all;
}
.sign_in_button>i{
	vertical-align: middle;
}
.sign_in_button{
	margin-top: 5px!important;
}