@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);

/* Global styles
================================================== */
body {
    background-color: #F6F7FB;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #000;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0 !important;
}

li {
    list-style: none;
}

a:focus {
    outline: 0;
}
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
img.pull-left, .pull-left > img {
    margin-right: 15px !important;
}

img.pull-right, .pull-right > img {
    margin-left: 15px !important;
}
.f-left {float:left;}
.f-right {float:right;}
.clear{clear: both;}
.no-padding {
    padding: 0px;
}

.overflow-h {
    overflow: hidden;
}

.padding-top {
    padding-top: 25px;
}

.error {
    color: #f00;
}

.form-error {
    color: #f00;
    margin-bottom: 10px;
}
.addMilestones {
    padding: 5px 20px;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-transform: none;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background-color: transparent;
    display: inline-block;
    border: 2px solid #b8b8b8;
    background-color: #b8b8b8;
    color: #5a5250;
    cursor: pointer;
}
* {
    outline: none;
}
ul, ol{padding: 0;}
a.button .fa {padding-right:7px;}
a.button:hover ,.project-box .finishProject {background-color:#b8b8b8; color:#5a5250;}
a.button.icon {padding:5px 20px 5px 35px; position:relative;}
a.button.icon:before {display: inline-block; font-family: "Ionicons"; speak: none;  font-style: normal;  font-weight: normal;  font-variant: normal; text-transform: none; text-rendering: auto;
    line-height: 1;  -webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale; position:absolute; left:15px; top:6px; font-size:13px;}

a.checkbox {padding:5px 20px; font-weight:normal; font-size:13px; line-height:16px; text-transform: none; border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px; background-color:transparent; border:2px solid #b8b8b8; color:#b8b8b8; display:inline-block;}
a.checkbox.checked {background-color:#716764; border:2px solid #716764; color:#FFF;}
div.checkbox.checked {background-color:#716764; border:2px solid #716764; color:#FFF;}
div.checkbox {padding:5px 20px; font-weight:normal; font-size:13px; line-height:16px; text-transform: none; border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px; background-color:transparent; border:2px solid #b8b8b8; color:#b8b8b8; display:inline-block;}

ul.top-pages-nav {width:100%; display:block; text-align:left; margin-bottom:20px; padding: 0;}
ul.top-pages-nav li {display:inline-block; padding-right:25px; position:relative;}
ul.top-pages-nav li:last-child:after {display:none; padding-right:0;}
ul.top-pages-nav li a { text-transform:none; font-size:18px; line-height:22px; color: #716764; display:inline-block;}
.admin_wrapper .project-comments {width:100%; padding:30px 0; background-color:#f6f6f6; margin:30px 0; clear: both;}
.admin_wrapper .project-comment-append{padding: 0}
.admin_wrapper .project-comments h3 {display:block; margin-bottom:10px; font-size:14px; line-height:18px; color:#b8b8b8; font-family: 'montserratbold'; font-weight:normal; text-transform:uppercase;}
.admin_wrapper .project-comments .insert-comment {width:100%; height:auto; margin-bottom:10px;}
.admin_wrapper .project-comments .insert-comment ul {text-align:right; float:right;}
.admin_wrapper .project-comments .insert-comment ul li {display:inline-block; margin-left:5px; vertical-align:middle;}
.admin_wrapper .project-comments .insert-comment button {min-width:110px;}
.admin_wrapper .project-comments ul{padding-left: 15px; padding-top: 5px}
.admin_wrapper .dispute-desc {width:100%; height:auto; margin-bottom: 20px; padding: 14px;  font-weight: normal; font-size: 13px; line-height: 16px; text-transform: none;  border-radius: 13px;
    -moz-border-radius: 13px; -webkit-border-radius: 13px; background-color:#b8b8b8; color:#FFF;}
.admin_wrapper .bottom-buttons{    width: 100%; height: auto;  margin-bottom: 20px;}
a.button, button.button {padding:5px 20px; font-weight:normal; font-size:13px; line-height:16px; text-transform: none; border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px; background-color:transparent; color:#b8b8b8; display:inline-block; border:2px solid #b8b8b8;}
a.button.gray, button.button.gray, a.button.gray:hover, button.button.gray:hover {background-color:#b8b8b8; color:#5a5250;}
.admin_wrapper .dispute-people {width:100%; height:auto; margin-bottom: 20px;}
.admin_wrapper .dispute-people .user {float:left; width:auto; margin-right:40px;}
.admin_wrapper .dispute-people .user ul li {display:inline-block; vertical-align:middle; font-size:11px; line-height:14px; padding-right:10px;}
.admin_wrapper .dispute-people .user ul li strong {display:block; color:#5a5250; font-family: 'montserratbold'; font-weight:normal; font-size:13px; line-height:16px;}

.admin_wrapper .dispute-people .user img {width:40px; height:40px; border-radius:40px; -moz-border-radius:40px; -webkit-border-radius:40px; background-color:#FFF; overflow:hidden; text-align:center; -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.10); -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.10); box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.10);}
.admin_wrapper input[type="text"], .admin_wrapper input[type="email"], .admin_wrapper input[type="password"], .admin_wrapper textarea {padding:14px; font-weight:normal; font-size:13px; line-height:16px; text-transform: none; border-radius:13px; -moz-border-radius:13px; -webkit-border-radius:13px; background-color:#FFF; color:#5a5250; display:inline-block; border:2px solid #b8b8b8 !important; resize:none; margin-bottom:20px;}
.admin_wrapper .project-comments .comment .user img {width:40px; height:40px; border-radius:40px; -moz-border-radius:40px; -webkit-border-radius:40px; background-color:#FFF; overflow:hidden; text-align:center; -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.10); -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.10); box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.10);}
.admin_wrapper .project-comments .comment .input {margin-bottom: 10px; width:auto; padding:14px; position:relative; color:#FFF; font-size:13px; line-height:16px; background-color:#b8b8b8; border-radius:13px; -moz-border-radius:13px; -webkit-border-radius:13px; display:inline-block;}
.admin_wrapper .project-comments .comment .input p {margin: 0;}
.admin_wrapper .project-comments .comment .user ul li {display:inline-block; vertical-align:middle; font-size:11px; line-height:14px; padding-right:10px;}
.admin_wrapper .project-comments .comment .user ul li strong {display:block; color:#5a5250; font-family: 'montserratbold'; font-weight:normal; font-size:13px; line-height:16px;}
.admin_wrapper .project-comments .comment .user ul li strong {display:block; color:#5a5250; font-family: 'montserratbold'; font-weight:normal; font-size:13px; line-height:16px;}
.admin_wrapper .bottom-buttons {width:100%; height:auto; margin-bottom:20px;}
.admin_wrapper .project-comments .comment.representative .input {padding: 10px; border:2px dashed #b8b8b8; background-color: transparent; color:#b8b8b8;}
.admin_wrapper .project-comments .comment.representative .input:before {bottom: -21px;}
#disputePublic, #disputePrivate{cursor: pointer;}
.comment_area{width: 100%; min-height: 100px;}
#admin_header{float: right; text-align: right;}
#admin_header .header-menu{float: right; width: 57%;}
.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-top: 10px solid #B8B8B8;
    position: absolute;
    bottom: -10px;
}



/* Header area
================================================== */

#header {
    width: 100%;
    z-index: 9999999;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    background-color: #333333;
}

.user_profil_section {
    margin-top: 10px;
}

.btn_profil_section {
    background-color: #333333;
    border: 0px;
}

.btn_profil_section img {
    margin-right: 10px;
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
}

.caret {
    border-top-color: #fff !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #333333;
}

.navigation_section {
    background-color: #fff;
    border: 0px;
}

.navigation {
    z-index: 999;
    -webkit-box-shadow: -1px 7px 10px 0px rgba(217, 218, 221, 1);
    -moz-box-shadow: -1px 7px 10px 0px rgba(217, 218, 221, 1);
    box-shadow: -1px 7px 10px 0px rgba(217, 218, 221, 1);
    background-color: #fff;
}

.navigation nav {
    border: 0px;
    background-color: #fff;
}

.dropdown-menu {
    z-index: 99999999;
}

.navigation_section .navbar-nav > .active > a {
    background-color: #fff;
    font-size: 14px;
    color: rgb(75, 137, 220);

}

.navigation_section .navbar-nav > .active > a:hover {
    background-color: #fff;
}

.navigation_section .navbar-nav > li > a:hover {
    color: rgb(75, 137, 220);
}

.navigation_section .navbar-nav > li > a {
    font-family: 'RobotoRegular';
    color: #333333;
}

/* Header area
================================================== */

.approve_btn_table:hover {
    color: #4B89DC;
}

.full_width{
    float: left;
    width: 100%;
    margin-top: 40px;
}
.red_not{
    background-color: #E27164 !important;
}
.blue_not{
    background-color: #4B89DC !important;
}
.gray_not{
    background-color: #5A5250 !important;
}

/** admin **/
.edit_delete{
    text-align: right;
}
.edit_delete i{
    cursor: pointer;
}
.admin_navbar{
    background: #3E68A1;
}
.admin_navbar .navbar-default{
    max-width: 960px;
    margin: 0 auto;
    background: #3E68A1;
    border: none;
}
.admin_navbar .navbar-default .navbar-nav li a{
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 255, 255)
}
.dataTables_wrapper{
    /*font-family: "Raleway-Regular";*/
    color: grey;
    margin-top: 40px!important;
    max-width: 960px;
    margin: 0 auto;
    border-bottom: 0;
}
.dataTables_wrapper label{
    color: grey;
}
.dataTables_filter input ,.dataTables_length select{
    border: 1px solid #ccc;
    border-radius: 3px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
    background: transparent !important;
}
.admin_wrapper{
    max-width: 960px;
    margin: 0 auto;
    color: grey;
    margin-top: 40px;
    margin-bottom: 40px;
}
/*.admin_wrapper form {*/
    /*width:350px;*/
    /*margin: 16px;*/
/*}*/
.add-btn{
    background: #3E68A1;
    color: #fff;
    font-family: "Raleway-Bold";
    padding: 5px 15px;
    border-radius: 3px;
}
.admin_navbar .navbar-nav .active a{
    color: grey!important;
}
.green{
    color: green;
}
table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1{
    background: #fff!important;
}
.delete_user{
    cursor: pointer;
}
#admin_header .header-menu{
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    margin-right: 20px;
    margin-top: 10px;
}
#admin_header .header-menu a{
    color: #fff;
}
#admin_header .header-control{
    width: 270px;
}
#admin_header .header-control li{
    margin-right: 20px;
}
#admin_header .header-control li .fa-cog{
    color: #fff;
    font-size: 27px;
}
.admin_wrapper .row-settings{
    margin-bottom: 20px;
}
.admin_wrapper  .green_button{
    min-width: 140px;
    background-color: #7db440;
    border: 2px solid #7db440;
    font-size: 14px;
    font-family: 'montserratbold';
    font-weight: normal;
    color: #FFF;
    line-height: 24px;
    border-radius: 40px;
    padding: 5px;
}
.admin_navbar .logo {
    padding: 3px 7px;
}
.admin_navbar .no-padding {
    padding: 0px;
}
/* End Admin styles */
/** projects **/
a.project_type {
    cursor:pointer;
}
.mile_count{
    text-decoration: underline;
}
.bnt_new_project{
    height: 35px!important;
}
.admin-template .select2-results .select2-results__options > li:first-child{
    display: none!important;
}
/** projects **/
a.project_type {
    cursor:pointer;
}
.question{
    color: #b8b8b8;
    font-size: 13px;
    cursor: help;
}
.project_discussion .project-comments{
    padding: 30px !important;
}
.successfull{
    color: #4b89dc;
    font-family: 'RobotoRegular';
    font-size: 14px;
    display: none;
}
.failed, .contact_error_message, .invalid_email{
    color: rgb(255,128,128);
    font-family: 'RobotoRegular';
    font-size: 14px;
    display: none;
}
.tab-content-1 .image .user-picture{
    background-repeat: no-repeat;
    background-position: center center;
    height: 180px;
    width: 179px;
    background-size: cover;
}