@font-face {
    font-family: 'RobotoLight';
    src:url('../fonts/RobotoLight/RobotoLight.ttf')
}
@font-face {
    font-family: 'RobotoBold';
    src:url('../fonts/RobotoBold/RobotoBold.ttf')
}

@font-face {
    font-family: 'RobotoRegular';
    src:url('../fonts/RobotoRegular/RobotoRegular.ttf')
}

@font-face {
    font-family: 'Roboto Condensed';
    src:url('../fonts/RobotoCondensed-Regular.ttf')
}

@font-face {
    font-family: 'Montserrat';
    src:url('../fonts/Montserrat-Regular.otf')
}
@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.eot');
    src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-bold-webfont.woff') format('woff'),
    url('../fonts/montserrat-bold-webfont.ttf') format('truetype'),
    url('../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-regular-webfont.woff') format('woff'),
    url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
    url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.ttf');
    font-weight: normal;
    font-style: normal;

}



