@media (min-width : 991px) and (max-width: 1200px) {
	.your_id_info_count {
		width: 55%;
	}

}
@media (max-width: 1300px){
	.right_search_block .right_block_row .upload_name_block{
		width: 100%;
	}
}
@media (max-width: 991px) {
	.right_search_block .right_block_row .upload_name_block{
		width: 50%;
	}
	.right_search_block .right_block_row .mb_cols{
		width: 20%;
	}
	.logo {
		text-align: center;
	}
	.user_profil_section {
		text-align: center;
	}
	.profil_section {
		float: none !important;
		margin-bottom: 15px;
	}
	.navigation_section {
		padding:0px 25px 25px 25px;
	}
	.navigation_section ul {
		text-align: center;
	}
	.pull-right>.dropdown-menu {
    	right: -50px;
	}
	.count_mobile_box {
		text-align: center;
	}
	#dashboard-affiliate .count_icon_circle {
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
	}
	.your_id_info_count {
		margin-bottom: 15px;
	}
	.info_count {
		margin-bottom: 10px;
	}

	#dashboard-affiliate form div {
		text-align: center;
		float: none ;
	}  
	#dashboard-affiliate h1 {
		text-align: center;
	}

}
@media (min-width : 768px) and (max-width: 991px) {
	 #page_dashboard .page_title h1,
	 #page_products  .page_title h1,
	 #page_users     .page_title h1, 
	 #page_reports   .page_title h1, 
	 #page_resources .resources_title h1, 
	 #dashboard-affiliate .page_title h1,
	 #page_settings .page_title h1,
	 #page_signup .page_title h1 {   
	    text-align: center;
	 }
	 .btn_add_new_family {
	 	text-align: center;
	 	margin-bottom:10px;
	 }
	 .btn_add_new_product {
	 	text-align: center;
	 	margin-bottom:10px;
	 }
	  .btn_add_new_group {
	 	text-align: center;
	 	margin-bottom:10px;

	 }
	 .btn_add_new_user {
	 	text-align: center;
	 	margin-bottom:10px;
	 }

	 .days_select {
	 	float: none !important;
	 	margin-top:10px;
	 }

	 #page_settings .form_section_settings form .form_fileds_profil_settings input {
	    width: 100%;
	}

	#page_settings .form_section_settings form textarea {
	    width: 100%;
	}
	#popup_add_new_family .modal-dialog {
   		 width: 65%;
	}
	#popup_add_new_product .modal-dialog {
   		 width: 65%;
	}
	#popup_add_new_group .modal-dialog {
   		 width: 65%;
	}
	#popup_add_new_user .modal-dialog {
   		 width: 65%;
	}

}

@media (max-width: 767px) {
     #page_dashboard .page_title h1,
	 #page_products  .page_title h1,
	 #page_users     .page_title h1, 
	 #page_reports   .page_title h1, 
	 #page_resources .resources_title h1, 
	 #dashboard-affiliate .page_title h1,
	 #page_settings .page_title h1,
	 #page_signup .page_title h1 {   
	    text-align: center;
	 }
	 .btn_add_new_family {
	 	text-align: center;
	 	margin-bottom:10px;
	 }
	 .btn_add_new_product {
	 	text-align: center;
	 	margin-bottom:10px;
	 }
	 .btn_add_new_group {
	 	text-align: center;
	 	margin-bottom:10px;
	 }
	 .btn_add_new_user {
	 	text-align: center;
	 	margin-bottom:10px;
	 }

	#page_reports .form_select_reports select,
	#dashboard-affiliate .form_select_reports select,
	#page_settings .form_select_section_date select {
		width: 100%;
	}
	.time_select {
		width: 100%;
		float: none;
	}
	.days_select {
		width: 100%;
		float: none;
	}

	#page_settings .form_select_section_date select {
		width: 100%;
	}
	#page_settings .year_select_box {
		width: 100% !important;
	}
	#page_settings .days_select_box {
		width: 100% !important;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	 #page_settings .form_section_settings form .form_fileds_profil_settings input {
	    width: 100%;
	}

	#page_settings .form_section_settings form textarea {
	    width: 100%;
	}

	#page_signup .form_section_signup {
  	 	 width: 65%;
	}
	#popup_add_new_family .modal-dialog {
   		 width: 100%;
	}
	#popup_add_new_product .modal-dialog {
   		 width: 100%;
	}
	#popup_add_new_group .modal-dialog {
   		 width: 100%;
	}
	#popup_add_new_user .modal-dialog {
   		 width: 100%;
	}
	#uploadFiles_modals .lock_checkbox_item,.popup_upload_files .lock_checkbox_item{
		margin: 0 0 30px 0;
	}
	#uploadFiles_modals .modal-dialog{
		width: 85%;
	}
	#uploadFiles_modals .lock_checkbox_item label,.popup_upload_files .lock_checkbox_item label{
		font-size: 11px!important;

	}
	.diaries_page_blocks .diaries_page_header .select_project_div,.diaries_page_blocks .diaries_page_header .select_timespan_div,.diaries_page_blocks .diaries_page_header .select_provider_div{
		width: 48%;
	}
	.diaries_page_blocks .diaries_page_header .select_timespan_div{
		float: left!important;
		margin-top: 10px;
	}


}
 

@media (min-width : 479px) and (min-width: 768px) {


}
@media all and (max-width :650px){

	#view_snapshot_modal .modal-dialog{
		width: 80%;
	}
}
@media all and (max-width :600px){
	footer ul li{
		width: 100%;
		margin: 0!important;
	}
	.diaries_page_content .design_images{
		width: 33.3%;
	}
}

@media all and (max-width : 550px){
	.withdrawal_amount_modal .select-custom-div-big{
		width: 100%;
		margin-bottom: 10px;
	}
	.withdrawal_amount_modal .modal-footer .f-right,.withdrawal_amount_modal .modal-footer button.button{
		width: 100%;
	}
	.withdrawal_amount_modal .modal-title{
		font-size: 13px;
	}
}


/* Extra Small Devices, Phones */ 
@media  (max-width : 478px) {
	#uploadFiles_modals .btns_section .f-left,#uploadFiles_modals .btns_section .f-right{
		float: none!important;
	}
	#uploadFiles_modals .btns_section .f-left a,#uploadFiles_modals .btns_section .f-right button{
		width: 100%;
		margin-bottom: 10px;
	}
	.right_search_block .right_block_row .upload_name_block{
		width: 100%;
	}
	.quick_payments_modal .payments_radio_item span{
		text-align: center;
		font-size: 10px;
	}
	.quick_payments_modal .payments_radio_item label{
		font-size: 10px;
	}
	section.main .content .project-comments .insert-comment button{
		width: 100%;
	}
	.welcome_message_block .welcome_message{
		width: 80%;
		font-size: 14px;
	}
	.welcome_message_block .start_project_btn{
		font-size: 12px;
		padding: 10px 14px;

	}
	.welcome_message_block img{
		width: 50%;
		padding-top: 30px;
	}
	.welcome_message_block{
		min-height: 350px;
	}
	.diaries_page_content .design_images{
		width: 50%;
	}

}
@media all and (max-width : 375px){
	#uploadFiles_modals .lock_checkbox_item label,.popup_upload_files .lock_checkbox_item label{
		line-height: 15px!important;
	}
	.diaries_page_header .select2-container .select2-selection--single .select2-selection__rendered{
		font-size: 10px;
	}
	.diaries_page_blocks .diaries_page_header .select_project_div, .diaries_page_blocks .diaries_page_header .select_timespan_div, .diaries_page_blocks .diaries_page_header .select_provider_div{
		width: 100%;
		margin-left: 0;
		margin-top: 10px;
	}
}

/* Custom, iPhone Retina */ 
@media (min-width : 320px) and (max-width: 478px)  {
	
}

@media (min-width : 297px) and (max-width: 350px)  {

}

