@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);

/* Global styles
================================================== */
body {
    background-color: #F6F7FB;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #000;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0 !important;
}

li {
    list-style: none;
}

a:focus {
    outline: 0;
}

img.pull-left, .pull-left > img {
    margin-right: 15px !important;
}

img.pull-right, .pull-right > img {
    margin-left: 15px !important;
}

.no-padding {
    padding: 0;
}

.overflow-h {
    overflow: hidden;
}

.padding-top {
    padding-top: 25px;
}

.error {
    color: #f00;
}

.form-error {
    color: #f00;
    margin-bottom: 10px;
}
::-webkit-file-upload-button { cursor:pointer; }
.addMilestones {
    padding: 5px 20px;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-transform: none;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background-color: transparent;
    display: inline-block;
    border: 2px solid #b8b8b8;
    background-color: #b8b8b8;
    color: #5a5250;
    cursor: pointer;
}
* {
    outline: none;
}

/* Header area
================================================== */

#header {
    width: 100%;
    z-index: 9999999;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    background-color: #333333;
}

.user_profil_section {
    margin-top: 10px;
}

.btn_profil_section {
    background-color: #333333;
    border: 0px;
}

.btn_profil_section img {
    margin-right: 10px;
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
}

.caret {
    border-top-color: #fff !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #333333;
}

.navigation_section {
    background-color: #fff;
    border: 0px;
}

.navigation {
    z-index: 999;
    -webkit-box-shadow: -1px 7px 10px 0px rgba(217, 218, 221, 1);
    -moz-box-shadow: -1px 7px 10px 0px rgba(217, 218, 221, 1);
    box-shadow: -1px 7px 10px 0px rgba(217, 218, 221, 1);
    background-color: #fff;
}

.navigation nav {
    border: 0px;
    background-color: #fff;
}

.dropdown-menu {
    z-index: 99999999;
}

.navigation_section .navbar-nav > .active > a {
    background-color: #fff;
    font-size: 14px;
    color: rgb(75, 137, 220);

}

.navigation_section .navbar-nav > .active > a:hover {
    background-color: #fff;
}

.navigation_section .navbar-nav > li > a:hover {
    color: rgb(75, 137, 220);
}

.navigation_section .navbar-nav > li > a {
    font-family: 'RobotoRegular';
    color: #333333;
}

/* Header area
================================================== */

/* Page area
================================================== */

#page_dashboard .page_title h1,
#page_products .page_title h1,
#page_users .page_title h1,
#page_reports .page_title h1,
#page_resources .resources_title h1,
#dashboard-affiliate .page_title h1,
#page_settings .page_title h1,
#page_signup .page_title h1 {
    font-family: 'Roboto Condensed';
}

#page_dashboard .dashboard_table_section,
#page_products .dashboard_table_section,
#page_users .dashboard_table_section,
#page_reports .dashboard_table_section,
#page_resources .dashboard_table_section,
#dashboard-affiliate .dashboard_table_section {
    margin-top: 20px;
    background-color: #fff;
}

#page_dashboard .table-bordered > tbody > tr > th,
#page_products .table-bordered > tbody > tr > th,
#page_users .table-bordered > tbody > tr > th,
#page_reports .table-bordered > tbody > tr > th,
#page_resources .table-bordered > tbody > tr > th,
#dashboard-affiliate .table-bordered > tbody > tr > th {
    border: 0px;
    font-size: 14px;
    font-family: 'RobotoBold';
    color: rgb(102, 102, 102);
    font-weight: bold;
    box-shadow: 0px 4px 20px -6px rgba(189, 189, 189, 0.53);
}

#page_dashboard .table-bordered tbody > tr > td,
#page_products .table-bordered tbody > tr > td,
#page_users .table-bordered tbody > tr > td,
#page_reports .table-bordered tbody > tr > td,
#page_resources .table-bordered tbody > tr > td,
#dashboard-affiliate .table-bordered tbody > tr > td {
    border: 0px;
    border-top: 1px solid #ddd !important;
    font-size: 14px;
    font-family: 'RobotoRegular';
    font-weight: normal;
}

#page_dashboard .product_name_table,
#page_products .product_name_table,
#page_users .product_name_table,
#page_reports .product_name_table,
#page_resources .product_name_table,
#dashboard-affiliate .product_name_table {
    font-family: 'RobotoBold' !important;
    font-weight: bold !important;
    color: rgb(51, 51, 51);
}

#page_dashboard .user_name_table,
#page_products .user_name_table,
#page_users .user_name_table,
#page_reports .user_name_table,
#page_resources .user_name_table,
#dashboard-affiliate .user_name_table {
    font-family: 'RobotoBold' !important;
    font-weight: bold !important;
    color: rgb(51, 51, 51);
}

#page_dashboard .new_user_name_table,
#page_products .new_user_name_table,
#page_users .new_user_name_table,
#page_reports .new_user_name_table,
#page_resources .user_name_table,
#dashboard-affiliate .user_name_table {
    font-family: 'RobotoBold' !important;
    font-style: italic !important;
    color: #666666;
}

#page_dashboard .new_empty_row_table,
#page_products .new_empty_row_table,
#page_users .new_empty_row_table,
#page_reports .new_empty_row_table,
#page_resources .new_empty_row_table,
#dashboard-affiliate .new_empty_row_table {
    color: #666666;
}

#page_dashboard .resources_url_table,
#page_products .resources_url_table,
#page_users .resources_url_table,
#page_reports .resources_url_table,
#page_resources .resources_url_table {
    color: #4D8ADC;
}

#page_resources .banner_image {
    width: 155px;
    height: 100px;
}

#page_resources .banner_image a img {
    width: 100%;
}

#page_resources .baner_code textarea {
    font-size: 12px;
    height: 80px;
    width: 60%;
    background-color: #F6F7FB;
    color: #666666;
    padding: 3px;
    resize: none;
    overflow: hidden;
}

#page_resources .baner_code p {
    font-size: 12px;
    font-family: 'RobotoRegular';
    color: #4B89DC;
    margin-top: 5px;
    cursor: pointer;
}

#page_reports .status_paid_table,
#dashboard-affiliate .status_paid_table {
    color: #38BD9D;
}

#page_reports .status_pending_table,
#dashboard-affiliate .status_pending_table {
    color: #999999;
    font-style: italic;
}

#page_reports .pay_now_table i {
    color: #4B89DC;
    margin-right: 5px;
    font-weight: bold;
}

#page_reports .pay_now_table {
    color: #4B89DC;
}

#page_reports .total_row_table,
#dashboard-affiliate .total_row_table {
    padding-top: 15px;
    padding-bottom: 15px;;
}

#page_reports .amount_total_box,
#dashboard-affiliate .total_row_table {
    font-family: 'RobotoBold' !important;
}

#dashboard-affiliate .total_row_paid_table {
    padding-top: 15px;
    padding-bottom: 15px;;
    font-family: 'RobotoRegular';
    color: #666666;
}

#page_reports .pay_all_table a {
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    background-color: #4B89DC;
    color: #fff;
}

#page_reports .pay_all_table i {
    margin-right: 5px;
}

/* Page area
================================================== */

.modal {
    text-align: center;
    padding: 0 !important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.edit_btn_table i,
.trash_btn_table i {
    margin-right: 10px;
    color: #4B89DC;
}

.edit_btn_table {
    color: #4B89DC;
    font-family: 'RobotoRegular';
}

.edit_btn_table:hover {
    color: #4B89DC;
}

.trash_btn_table {
    margin-left: 10px;
    color: #4B89DC;
    font-family: 'RobotoRegular';
}

.trash_btn_table img {
    margin-right: 5px;
    margin-left: 20px;
    margin-top: -3px;
}

.trash_btn_table:hover {
    color: #4B89DC;
}

/* Products page area
================================================== */

.btn_add_new_family a {
    color: #fff;
    background-color: #4B89DC;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'RobotoRegular';
}

.btn_add_new_family a i {
    margin-right: 5px;
}

.btn_add_new_family {
    text-align: right;
    margin-top: 30px;
}

.btn_add_new_product a {
    color: #fff;
    background-color: #4B89DC;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 27px;
    padding-right: 27px;
    font-family: 'RobotoRegular';
}

.btn_add_new_product a i {
    margin-right: 4px;
}

.btn_add_new_product {
    text-align: right;
    margin-top: 30px;
}

#popup_add_new_family .modal-dialog {
    width: 35%;
}

#popup_add_new_family .modal-header h4 {
    font-family: 'RobotoBold';
    font-size: 14px;
    color: #707070;
    margin-left: 4px;
}

#popup_add_new_family .modal-header {
    border-bottom: 1px solid #CCCCCC;
}

#popup_add_new_family .modal-content {
    border-radius: 0px;
}

#popup_add_new_family .modal-body form div label {
    font-size: 14px;
    font-family: 'RobotoRegular';
    font-weight: normal;
    color: #333333;
}

.popup_add_new_family-filed {
    background-color: #F6F7FB;
    padding: 20px;
    border-radius: 0px;
    border: 1px solid #CCCCCC;
}

.select_file_block input {
    opacity: 0;
    position: absolute;
    width: 160px;
    cursor: pointer;
}

.select_file_button {
    background-color: #7E97B9;
    color: #fff;
    font-size: 14px;
    font-family: 'RobotoBold';
    padding: 10px 0;
    width: 30%;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}

.select_file_button span {
    font-family: 'RobotoRegular';
}

.select_file_button span i {
    margin-right: 10px;
}

#popup_add_new_family .btn_section_cancel_add {
    overflow: hidden;
}

#popup_add_new_family .btn_section_cancel_add button {
    text-align: left;
}

#popup_add_new_family .btn_section_cancel_add input {
    float: right;
}

#popup_add_new_family .modal-body {
    padding: 20px 20px 5px 20px !important;
    overflow: hidden;
}

#popup_add_new_family .modal-footer button {
    float: left;
    background-color: #CCCCCC;
    font-family: 'RobotoRegular';
    color: #fff;
    font-size: 12px;
    padding: 10px 55px 10px 55px;
}

#popup_add_new_family .modal-footer input {
    background-color: #4B89DC;
    font-family: 'RobotoRegular';
    color: #fff;
    font-size: 12px;
    padding: 10px 55px 10px 55px;
}

#popup_add_new_product .modal-dialog {
    width: 35%;
}

#popup_add_new_product .modal-header h4 {
    font-family: 'RobotoBold';
    font-size: 14px;
    color: #707070;
    margin-left: 4px;
}

#popup_add_new_product .modal-header {
    border-bottom: 1px solid #CCCCCC;
}

#popup_add_new_product .modal-content {
    border-radius: 0px;
}

#popup_add_new_product .modal-body label {
    font-size: 14px;
    font-family: 'RobotoRegular';
    font-weight: normal;
    color: #333333;
}

.popup_add_new_product-filed {
    background-color: #F6F7FB;
    padding: 20px;
    border-radius: 0px;
    border: 1px solid #CCCCCC;
}

#popup_add_new_product .btn_section_cancel_add {
    overflow: hidden;
}

#popup_add_new_product .btn_section_cancel_add button {
    text-align: left;
}

#popup_add_new_product .btn_section_cancel_add input {
    float: right;
}

#popup_add_new_product .modal-body {
    padding: 20px 20px 5px 20px !important;
    overflow: hidden;
}

#popup_add_new_product .modal-footer button {
    float: left;
    background-color: #CCCCCC;
    font-family: 'RobotoRegular';
    color: #fff;
    font-size: 12px;
    padding: 10px 55px 10px 55px;
}

#popup_add_new_product .modal-footer input {
    background-color: #4B89DC;
    font-family: 'RobotoRegular';
    color: #fff;
    font-size: 12px;
    padding: 10px 55px 10px 55px;
}

.select_style {
    display: block;
    padding: 10px 10px 10px 8px;
    width: 100%;
    border: 1px solid #C6C6C6;
    font-size: 14px;
    color: #777F87;
    -webkit-box-shadow: -5px 3px 15px -2px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: -5px 3px 15px -2px rgba(0, 0, 0, 0.43);
    box-shadow: -1px 2px 7px -2px rgba(0, 0, 0, 0.43);
    background: -webkit-linear-gradient(#FBFBFB, #F4F4F4);
    background: -o-linear-gradient(#FBFBFB, #F4F4F4);
    background: -moz-linear-gradient(#FBFBFB, #F4F4F4);
    background: linear-gradient(#FBFBFB, #F4F4F4);
    font-family: 'RobotoRegular';
    margin-bottom: 15px;

}

#popup_add_new_group .modal-dialog {
    width: 35%;
}

#popup_add_new_group .modal-header h4 {
    font-family: 'RobotoBold';
    font-size: 14px;
    color: #707070;
    margin-left: 4px;
}

#popup_add_new_group .modal-header {
    border-bottom: 1px solid #CCCCCC;
}

#popup_add_new_group .modal-content {
    border-radius: 0px;
}

#popup_add_new_group .modal-body label {
    font-size: 14px;
    font-family: 'RobotoRegular';
    font-weight: normal;
    color: #333333;
}

.popup_add_new_group-filed {
    background-color: #F6F7FB;
    padding: 20px;
    border-radius: 0px;
    border: 1px solid #CCCCCC;
}

#popup_add_new_group .btn_section_cancel_add {
    overflow: hidden;
}

#popup_add_new_group .btn_section_cancel_add button {
    text-align: left;
}

#popup_add_new_group .btn_section_cancel_add input {
    float: right;
}

#popup_add_new_group .modal-body {
    padding: 20px 20px 5px 20px !important;
    overflow: hidden;
}

#popup_add_new_group .modal-footer button {
    float: left;
    background-color: #CCCCCC;
    font-family: 'RobotoRegular';
    color: #fff;
    font-size: 12px;
    padding: 10px 55px 10px 55px;
}

#popup_add_new_group .modal-footer input {
    background-color: #4B89DC;
    font-family: 'RobotoRegular';
    color: #fff;
    font-size: 12px;
    padding: 10px 55px 10px 55px;
}

#popup_add_new_user .modal-dialog {
    width: 35%;
}

#popup_add_new_user .modal-header h4 {
    font-family: 'RobotoBold';
    font-size: 14px;
    color: #707070;
    margin-left: 4px;
}

#popup_add_new_user .modal-header {
    border-bottom: 1px solid #CCCCCC;
}

#popup_add_new_user .modal-content {
    border-radius: 0px;
}

#popup_add_new_user .modal-body label {
    font-size: 14px;
    font-family: 'RobotoRegular';
    font-weight: normal;
    color: #333333;
}

.popup_add_new_user-filed {
    background-color: #F6F7FB;
    padding: 20px;
    border-radius: 0px;
    border: 1px solid #CCCCCC;
}

#popup_add_new_user .btn_section_cancel_add {
    overflow: hidden;
}

#popup_add_new_user .btn_section_cancel_add button {
    text-align: left;
}

#popup_add_new_user .btn_section_cancel_add input {
    float: right;
}

#popup_add_new_user .modal-body {
    padding: 20px 20px 5px 20px !important;
    overflow: hidden;
}

#popup_add_new_user .modal-footer button {
    float: left;
    background-color: #CCCCCC;
    font-family: 'RobotoRegular';
    color: #fff;
    font-size: 12px;
    padding: 10px 55px 10px 55px;
}

#popup_add_new_user .modal-footer input {
    background-color: #4B89DC;
    font-family: 'RobotoRegular';
    color: #fff;
    font-size: 12px;
    padding: 10px 55px 10px 55px;
}

#popup_add_new_user .checkbox_add_new_user p {
    margin: 0px;
}

#popup_add_new_user .checkbox_add_new_user p label {
    font-size: 14px;
    font-family: 'RobotoRegular';
    font-weight: normal;
    color: #333333;
}

#popup_add_new_user .checkbox_add_new_user label {
    color: #666666;
}

#popup_add_new_user .check_label {
    margin-right: 20px;
}

/* Users page area
================================================== */

.btn_add_new_group a {
    color: #fff;
    background-color: #4B89DC;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'RobotoRegular';
}

.btn_add_new_group a i {
    margin-right: 5px;
}

.btn_add_new_group {
    text-align: right;
    margin-top: 30px;
}

.btn_add_new_user a {
    color: #fff;
    background-color: #4B89DC;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 33px;
    padding-right: 33px;
    font-family: 'RobotoRegular';
}

.btn_add_new_user a i {
    margin-right: 10px;
}

.btn_add_new_user {
    text-align: right;
    margin-top: 30px;
}

.approve_btn_table i {
    margin-right: 10px;
    color: #4B89DC;
}

.approve_btn_table {
    color: #4B89DC;
    font-family: 'RobotoRegular';
}

.approve_btn_table:hover {
    color: #4B89DC;
}

/* Reports page area
================================================== */

#page_reports .form_select_reports,
#dashboard-affiliate .form_select_reports {
    margin-top: 25px;
}

#page_reports .form_select_reports select,
#dashboard-affiliate .form_select_reports select,
#page_settings .form_select_section_date select {
    display: block;
    padding: 10px 10px 10px 8px;
    border: 1px solid #C6C6C6;
    font-size: 14px;
    color: #777F87;
    -webkit-box-shadow: -5px 3px 15px -2px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: -5px 3px 15px -2px rgba(0, 0, 0, 0.43);
    box-shadow: -1px 2px 7px -2px rgba(0, 0, 0, 0.43);
    background: -webkit-linear-gradient(#FBFBFB, #F4F4F4);
    background: -o-linear-gradient(#FBFBFB, #F4F4F4);
    background: -moz-linear-gradient(#FBFBFB, #F4F4F4);
    background: linear-gradient(#FBFBFB, #F4F4F4);
    font-family: 'RobotoRegular';
    width: 165px;
}

#page_reports .form_select_reports select:focus,
#dashboard-affiliate .form_select_reports select:focus,
#page_settings .form_select_section_date select:focus {
    outline: 0;
}

#page_reports .form_select_reports .form_select_reports_box,
#dashboard-affiliate .form_select_reports .form_select_reports_box,
#page_settings .form_select_section_date select {
    margin-right: 5px;
}

/* Dashboard page area
================================================== */

#dashboard-affiliate .dashboard_count_section {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 20px 10px 20px 35px;
}

#dashboard-affiliate .count_icon_circle {
    width: 30%;
}

#dashboard-affiliate .count_info_circle {
    margin-top: -4px;
}

#dashboard-affiliate .count_info_circle p {
    margin: 0px;
}

#dashboard-affiliate .count_info_circle p:first-child {
    font-size: 14px;
    font-family: 'RobotoRegular';
    color: #666666;
    text-transform: uppercase;
}

#dashboard-affiliate .count_info_circle p:last-child {
    font-size: 24px;
    font-family: 'RobotoBold';
    color: #333333;
}

/* Setings page area
================================================== */

#page_settings .days_select_box {
    width: 65px !important;
    display: inline-block !important;
}

#page_settings .year_select_box {
    width: 85px !important;
    display: inline-block !important;
}

#page_settings .day_select_box {
    display: inline-block !important;
}

#page_settings .btn_save_profil {
    padding: 10px 55px 10px 55px;
    border: 0px;
    background-color: #4B89DC;
    color: #fff;
    font-family: 'RobotoRegular';
    font-size: 14px;
    border-radius: 5px;
    margin-top: 10px;
}

#page_settings .btn_change_profil {
    padding: 10px 47px 10px 47px;
    border: 0px;
    background-color: #4B89DC;
    color: #fff;
    font-family: 'RobotoRegular';
    font-size: 14px;
    border-radius: 5px;
    margin-top: 10px;
}

#page_settings .form_section_settings form .form_fileds_profil_settings input {
    background-color: #fff;
    padding: 20px;
    border-radius: 0px;
    border: 1px solid #CCCCCC;
    width: 50%;
}

#page_settings .form_section_settings form .form_fileds_profil_settings label {
    font-size: 14px;
    font-family: 'RobotoRegular';
    font-weight: normal;
    color: #000;
}

#page_settings .form_section_settings form textarea {
    background-color: #fff;
    padding: 20px;
    border-radius: 0px;
    border: 1px solid #CCCCCC;
    width: 50%;
}

.form_select_section_date p label {
    font-size: 14px;
    font-family: 'RobotoRegular';
    font-weight: normal;
    color: #000;
}

.form_chek_box {
    display: none;
}

.form_chek_box + .label_chek_table {
    background: url('../images/chekbox1.png') no-repeat;
    height: 17px;
    padding-left: 20px;
    cursor: pointer;
    position: relative;
    top: 8px;
    margin-right: 10px;
}

.form_chek_box:checked + .label_chek_table {
    background: url('../images/chekbox2.png') no-repeat;
    height: 17px;
}

.payment_chek_label {
    font-family: 'RobotoRegular';
    font-weight: normal;
    color: #000;
}

/* Signup page area
================================================== */

#page_signup .form_section_signup {
    width: 40%;
    margin: 0px auto;
    margin-top: 50px;
}

#page_signup .btn_signup {
    padding: 10px 55px 10px 55px;
    border: 0px;
    background-color: #4B89DC;
    color: #fff;
    font-family: 'RobotoRegular';
    font-size: 14px;
    border-radius: 5px;
    margin-top: 10px;
}

#page_signup .form_fileds_login input {
    background-color: #fff;
    padding: 20px;
    border-radius: 0px;
    border: 1px solid #CCCCCC;
}

#page_signup .form_fileds_login label {
    font-size: 14px;
    font-family: 'RobotoRegular';
    font-weight: normal;
    color: #000;
}

.fileinput-button{
    -webkit-border-radius: 20px;
}
.marginTop{
    margin-top: 10px !important;
}
#add-card .modal-dialog{
    width: 320px;
    }
.stripe_input{
    margin-top:5px !important;
}
#month{
    width: 37%;
}
#year{
    width: 56%;
}
#addcardbutton{
    border: 2px solid #b8b8b8;
    background-color: #7db440;
    color: #fff;
    font-family: 'RobotoRegular';
    font-size: 14px;
    border-radius: 20px;
}
.btn.apply-here{

    background-color: #716764;
    color: #fff;
    font-family: 'RobotoRegular';
    font-size: 14px;
    border-radius: 20px;
}
.payment-errors{
    color:red;
    font-family: 'RobotoRegular';
    font-size: 14px;

}

.message_block{
    color: #4b89dc;
    font-size: 13px;
}
.logo-div a {
    cursor: pointer;
}
.request{
    color: #fff !important;

}
.paid{
    color:#716764 !important;
    font-size: 14px;
}
.successfull{
    color: #4b89dc;
    font-family: 'RobotoRegular';
    font-size: 14px;
    display: none;
}
.failed, .contact_error_message, .invalid_email{
    color: rgb(255,128,128);
    font-family: 'RobotoRegular';
    font-size: 14px;
    display: none;
}
.contact_error_message{
    color: #FFAFAF;
}
 .contact_error_message{
     margin-bottom: 15px;
     margin-left: 5px;
 }
 .email_send_successfull{
     color: #9CDC9C;
     margin-left: 5px;
     margin-top: 15px;
     font-family: 'RobotoRegular';
     font-size: 16px;
     float: left;
     display: none;
 }

.contact_send_form textarea::-webkit-input-placeholder {
    color:    #8D9CAB !important;
}
.contact_send_form textarea:-moz-placeholder {
    color:    #8D9CAB !important;
}
.desc-me {display:none;}
.map_content{
    height: 334px;
    width: 470px;
    float: left;
    margin-bottom: 30px;
    margin-right: 30px;
}
.map_content #map_canvas_two,.map_content #map_canvas_one {
    height: 100%!important;
    width: 100%;
}
#map_grey_block{
    min-height: 350px;
}
.contact_form_block{
    background: #4B89DC;
    padding: 15px;
    margin-top: 60px;
}
.map_block{
    margin: 0 auto;
    width: 970px;
}
#disputePublic, #disputePrivate{
    cursor: pointer;
}
.dispute_group{
    padding: 30px 20px !important;
}
.currency_type {
    margin-top: 0;
}
.fileinput-button{
    margin-top: 10px;
}
.template-upload .tmpl_els canvas{
    border: 1px solid;
}
.milestone-list li{
    word-wrap: break-word;
}
/*styles 11/01/16*/
#milestoneModal .modal-content{
    border-radius: 12px;
    /*min-height: 340px;*/
}
#milestoneModal .modal-body{
    background: #f6f6f6;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
#milestoneModal .modal-header{
    border-bottom: 0px solid #e5e5e5;
}
#milestoneModal .modal-header span{
    font-size: 30px;
}
#milestoneModal .milestone_fields{
    margin-top: 0;
    margin-bottom: 13px;
    padding: 4px;
    padding-left: 20px;
}
#milestoneModal textarea{
    min-height: 95px;
    padding-top: 18px!important;
}
#milestoneModal .milestone_discard_btn, #milestoneModal .add-milestone-button, #milestoneModal .edit_mile_btn{
    padding: 7px 25px;
    background: #fff;
    color: #b8b8b8;
    font-size: 14px;
    border: 2px solid #b8b8b8;
    border-radius:40px;
}
#milestoneModal .add-milestone-button, #milestoneModal .edit_mile_btn {
    background: #7db440;
    color: #fff;
    border: 0;
    float: right;
    width: 106px;
    height: 38px;
}
#milestoneModal #myModalLabel{
    font-size: 16px;
    font-family: 'Montserrat';
    color: #5a5250;
}
.number_milestone{
    border-right: 1px solid #b8b8b8;
    width: 10px;
}
.milestone-list tr{
    border-bottom: 1px solid #b8b8b8;
}
.milestone-list{
    width: 100%;
}
.remove-milestone, .edit_milestone{
    color: #716764;
    cursor: pointer;
    font-size: 15px;
}
.edit_milestone{
    margin-right: 10px;
}
.delete_el_miles{
    text-align: right;
}
.edit_milestone, .remove-milestone i{
    padding: 5px 2px;
}
.title_miles{
    font-weight: bold;
    color: #5a5250;
    font-size: 12px;
    margin-bottom: 18px;
    font-family: 'Montserrat';
}

.milestone-list {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.milestone-list { border-collapse: separate; border-spacing: 0; background-color: #fff}
.milestone-list td {
    border: solid 1px #b8b8b8;
    border-style: none solid solid none;
    padding: 18px;
    font-size: 12px;
    color: #716764;
    cursor: -webkit-grab;
}
.none_border{
    border-right: 0!important;
}
.milestone-list tr:first-child td:first-child { border-top-left-radius: 10px; }
.milestone-list tr:first-child td:last-child { border-top-right-radius: 10px; }
.milestone-list tr:last-child td:first-child { border-bottom-left-radius: 10px; }
.milestone-list tr:last-child td:last-child { border-bottom-right-radius: 10px; }
.milestone-list tr:first-child td { border-top-style: solid; }
.milestone-list tr td:first-child { border-left-style: solid; }

.green_button{
    min-width: 140px;
    background-color: #7db440;
    border: 2px solid #7db440;
    font-size: 14px;
    font-family: 'montserratbold';
    font-weight: normal;
    color: #FFF;
    line-height: 24px;
    border-radius: 40px;
}

#myModalLabel{
    font-family: 'Montserrat';
    font-size: 16px;
}

/**
** avatar image
**/
.tab-content-1 .image .user-picture{
    background-repeat: no-repeat;
    background-position: center center;
    height: 180px;
    width: 179px;
    background-size: cover;
}
label.editImg i{
    position: absolute;
    left: 19px;
    bottom: 41px;
    width: 15px;
    height: 15px;
    color: #FFF7F7;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 0px 0px 16px #047E88;
}
#changeUserImg {
    display: none;
}
.avatarImg {
    position: relative;
}
/**
    Upload button
**/
#selectedFile1,#selectedFiles1{
    position: relative;
    width: 80%;
    margin: 20px auto;
    padding: 10px 0;
    overflow: hidden;
    word-break: keep-all;
}
#selectedFiles {
    /*overflow-y: scroll;*/
    /*height: 20px;*/
    margin-top: 20px;
    float: left;
    width: 100%;
    position: relative;
}
.uploadField {
    background: none;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    padding: 5px 20px;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-transform: none;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    display: inline-block;
    border: 2px solid #b8b8b8;
    background-color: #b8b8b8;
    color: #5a5250;
}
.uploadField input {
    top: 0px;
    width: 100%;
    position: absolute;
    opacity: 0;
}
.no_close_disputes{
    color:#C2C2C2;
    border: 2px solid #B8B8B8;
    font-size: 12px;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}
.padding_top_7{
    padding-top: 7px;
}
.sendNotification{
    color: #4b89dc;
    text-decoration: underline;
    cursor: pointer;
}
#myModal1 .modal-body{
    font-size: 14px;
    background-color: #F6F6F6;
}
#myModal1 .modal-footer {
    background-color: #F6F6F6;
    margin-top: 0;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

#myModal1 .modal-footer button{
    padding: 10px 35px;
    font-size: 14px;
    font-family: 'montserratbold';
    font-weight: normal;
}
.notifications a{
    color: #7DB440;
    text-decoration: none;
}
.notifications a.button{
    text-decoration: none!important;
}
.notifications a:hover{
    color: #4b89dc;
    text-decoration: underline;
}
.full_width{
    float: left;
    width: 100%;
    margin-top: 40px;
}
.red_not{
    background-color: #E27164 !important;
}
.blue_not{
    background-color: #4B89DC !important;
}
.gray_not{
    background-color: #5A5250 !important;
}
.notifications .not_icons{
    height: 30px; width: 30px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-transform: 30px;
    text-align: center;
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -15px;
    color: #FFF;
}
.notification_back{
    background-color: #B8B8B8 !important;
}
.notifications .not_icons i{
    display: inline-block;
    color: #FFF !important;
    font-size: 15px !important;
    padding-top: 7px;
}
.msgIsRead{
    background-color: #F6F6F6 !important;
}
.notifications .single-payment{
    background-color: #fff;
}
.read_notif{
    background-color: #fff !important;
    color: #B8B8B8;
}
.notif_is_read{
    color: #B8B8B8 !important;
}
.dropdown .view{
    color: #4B89DC !important;
}
.dropdown .view:hover{
    text-decoration: underline;
}
/** admin **/
.edit_delete{
    text-align: right;
}
.edit_delete i{
    cursor: pointer;
}
.admin_navbar{
    background: #3E68A1;
}
.admin_navbar .navbar-default{
    max-width: 960px;
    margin: 0 auto;
    background: #3E68A1;
    border: none;
}
.admin_navbar .navbar-default .navbar-nav li a{
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 255, 255)
}
.dataTables_wrapper{
    /*font-family: "Raleway-Regular";*/
    color: grey;
    margin-top: 40px!important;
    max-width: 960px;
    margin: 0 auto;
    border-bottom: 0;
}
.dataTables_wrapper label{
    color: grey;
}
.dataTables_filter input ,.dataTables_length select{
    border: 1px solid #ccc;
    border-radius: 3px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
    background: transparent !important;
}
.admin_wrapper{
    max-width: 960px;
    margin: 0 auto;
    color: grey;
    margin-top: 40px;
    margin-bottom: 40px;
}
.admin_wrapper form {
    width:350px;
    margin: 16px;
}
.add-btn{
    background: #3E68A1;
    color: #fff;
    font-family: "Raleway-Bold";
    padding: 5px 15px;
    border-radius: 3px;
}
.admin_navbar .navbar-nav .active a{
    color: grey!important;
}
.green{
    color: green;
}
table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1{
    background: #fff!important;
}
.delete_user{
    cursor: pointer;
}
#admin_header .header-menu{
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    margin-right: 20px;
    margin-top: 10px;
}
#admin_header .header-menu a{
    color: #fff;
}
#admin_header .header-control{
    width: 270px;
}
#admin_header .header-control li{
    margin-right: 20px;
}
#admin_header .header-control li .fa-cog{
    color: #fff;
    font-size: 27px;
}
.admin_wrapper .row-settings{
    margin-bottom: 20px;
}
.admin_wrapper .green_button{
    padding: 5px;
}
.admin_navbar .logo {
    padding: 3px 7px;
}
.admin_navbar .no-padding {
    padding: 0px;
}
/* End Admin styles */
/** projects **/
a.project_type {
    cursor:pointer;
}
.mile_count{
    text-decoration: underline;
}
.bnt_new_project{
    height: 35px!important;
}
.admin-template .select2-results .select2-results__options > li:first-child{
    display: none!important;
}
/** projects **/
a.project_type {
    cursor:pointer;
}
.question{
    color: #b8b8b8;
    font-size: 13px;
    cursor: help;
}
.project_discussion .project-comments{
    padding: 30px !important;
}
/* project view page*/
.project_discussion .upload_files_btn, .fileupload-buttonbar .upload_files_btn{
    float: left;
    border-radius: 15px;
    background-color: rgb(184, 184, 184);
    width: 110px;
    position: relative;
    font-size: 13px;
    text-align: center;
    color: #5a5250;
    padding: 8px 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.notif_item:hover{
    background: #eee;
}
section.main .content .upload_files_grey_div{
    margin-top: 0!important;
}
section.main .comment_block{
    height: 400px;
    padding-right: 20px;
    overflow-y: scroll;
    position: relative;
}
section.main .comments_block_border{
    border-top: 1px solid #ccc;
}
.upload_files_grey_div .input{
    min-width: 100px!important;
}
.comment_upload_files, .project_upload_files{
    margin: 2px 0;
}
.comment .input .comment_upload_files{
    float: left;
    margin-right: 5px;
}
.comment .input .comment_upload_files img{
    box-shadow: 1px 2px 5px 0 rgba(0, 1, 1, 0.4);
}
.comment_upload_files .upload_files_name, .project_upload_files .upload_files_name{
    border-radius: 12px;
    background-color: rgb(113, 103, 100);
    color: #fff;
    font-size: 12px;
    padding: 3px 9px;
    display: inline-block;
    margin: 3px;
}
.project_upload_files{
    clear: both;
}
.comment_upload_files .upload_files_name span{
    font-size: 10px;
    margin-left: 7px;
}
.upload_files_content{
    width: 100%;
    float: left;
    margin-bottom: 7px;
}
#uploadFiles_modals .modal-dialog,.popup_upload_files .modal-dialog{
    width: 650px;
}
#uploadFiles_modals .modal-body{
    background-color: #F6F6F6;
    border-radius: 0 0 10px 10px;
}
#uploadFiles_modals .modal-body .box_name_input{
    margin: 0 0 10px 0;
    padding: 5px 15px;
    font-size: 13px;
    line-height: 16px;
}
#uploadFiles_modals .modal-body .drop-files.group.fileupload-buttonbar {
    width: 100%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 2px dashed #b8b8b8;
    margin-bottom: 15px;
    background-color: #FFF;
    text-align: center;
    font-size: 13px;
    margin-top: 8px;
    padding: 70px 0;
}
#uploadFiles_modals .modal-body .fileupload_zone .drop_info {
    font-size: 12px;
    font-family: 'montserratregular';
    color: #716764;
}
#uploadFiles_modals  .modal-body .uploadField {
    background-color: #B8B8B8;
    border-radius: 30px;
    padding: 5px 10px;
}
#uploadFiles_modals  .modal-body .uploadField input{
    left: 0;
    top: 0;
}
#uploadFiles_modals .modal-body .uploadField span {
    font-size: 12px;
    color: #5A5250;
    position: relative;
    top: -1px;
    font-family: 'montserratregular';
    text-decoration: none;
}
#uploadFiles_modals #selectedFiles {
    max-height: 145px;
    height: inherit;
    margin-top: 10px;
}
#selectedFiles span ,#selectedFile span{
    min-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    margin-bottom: 2px;
    border-radius: 12px;
    background-color: rgb(113, 103, 100);
    color: #fff;
    font-size: 12px;
    padding: 3px 9px;
    margin-right: 5px;
}
#uploadFiles_modals .select_milestone_content label{
    display: block;
    color: #5a5250;
    font-size: 12px;
    margin-bottom: 5px;
}
#uploadFiles_modals .select_milestone_content,.popup_upload_files .select_milestone_content{
    margin-bottom: 20px;
}
#uploadFiles_modals .select_milestone_div{
    width: 100%;
}
#uploadFiles_modals .select2-container--default .select2-selection--single .select2-selection__rendered,.popup_upload_files .select2-container--default .select2-selection--single .select2-selection__rendered{
    font-size: 12px!important;
    color: #5a5250;
    height: 30px!important;
    padding: 0!important;
}
#uploadFiles_modals  .select2-container--default .select2-selection--single,.popup_upload_files .select2-container--default .select2-selection--single {
    padding: 0 15px!important;
}
#uploadFiles_modals .select2-container--default .select2-selection--single .select2-selection__arrow,.popup_upload_files .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 20px!important;
}
#uploadFiles_modals .lock_checkbox_item,.popup_upload_files .lock_checkbox_item{
    position: relative;
    margin: 25px 0 0 30px;
}
#uploadFiles_modals .lock_checkbox_item label,.popup_upload_files .lock_checkbox_item label{
    background-image: url("../images/modal_checkbox.png");
    font-size: 13px;
    color: #5a5250;
}
#uploadFiles_modals .btns_section .f-left a:hover {
    transition: all 0.5s ease-out;
    background-color: #b8b8b8;
    color: #5a5250;
}
#uploadFiles_modals .btns_section .f-right button {
    padding: 10px 20px;
    min-width: 135px;
    text-align: center;
    color: #fff;
    font-family: 'montserratbold';
    font-weight: normal;
    font-size: 14px;
    transition: all 0.5s ease-out;
}
#uploadFiles_modals .btns_section .f-right button:hover {
    background-color: #fff;
    transition: all 0.5s ease-out;
    color: #7DB440;
}
#uploadFiles_modals .btns_section .f-left a {
    padding: 10px 20px;
    min-width: 135px;
    text-align: center;
    color: #B8B8B8;
    font-family: 'montserratbold';
    font-weight: normal;
    font-size: 14px;
    transition: all 0.5s ease-out;
}
input[type=checkbox].lock_checkbox_select:checked + label{
    background-position: 0 -30px;
}
input[type=checkbox].lock_checkbox_select + label {
    padding-left: 40px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    background-repeat: no-repeat;
    background-position: 0 0;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 4px;
}
input[type=checkbox].lock_checkbox_select {
    position: absolute;
    width: 0;
    opacity: 0;
}
#addLinkModalId .middle input {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 5px 15px;
    font-size: 13px;
    line-height: 16px;
}
#addLinkModalId .modal-body{
    background-color: #F6F6F6;
}
#addLinkModalId  a.button{
    font-size: 14px;
    font-family: 'montserratbold';
    font-weight: normal;
    padding: 10px 20px;
    min-width: 135px;
    text-align: center;
}
#addLinkModalId button.button{
    font-size: 14px;
    font-family: 'montserratbold';
    font-weight: normal;
    padding: 10px 20px;
    min-width: 135px;
    text-align: center;
}
#addLinkModalId .modal-title{
    font-size: 16px;
}
.right_search_block .right_search_header p{
    color: #5a5250;
    font-size: 12px;
    font-family: 'montserratbold';
}
.right_search_block .right_search_header{
    padding: 15px 0 5px 0;
    border-bottom: 1px solid rgb(184, 184, 184);
    width: 100%;
    float: left;
}
.right_search_block .right_block_cols{
    float: left;
    margin-right: 10px;
}
.right_search_block .right_block_cols:last-child{
    margin-right: 0;
}
.right_search_block .right_block_cols a{
    font-size: 12px;
}
.right_search_block .right_block_row{
    position: relative;
    width: 100%;
    float: left;
    padding: 3px 0;
}
.right_search_block .right_block_row:hover a{
    color: #7db440;
    cursor: pointer;
}
.right_search_block .right_block_content{
    padding: 20px 0;
    width: 100%;
    float: left;
}
.right_search_block:last-child .right_block_content{
    padding: 20px 0 0 0;
}
.right_search_block .right_block_cols a span{
    position: absolute;
    left: -15px;
    top: 4px;
    font-size: 14px;
}
.right_search_block .right_block_row .upload_name_block{
    width: 120px;
}
.right_search_block .right_block_row  .mb_cols {
    width: 36px;
}
.right_search_block .date_cols{
    width: 60px;
}
.right_search_block .right_block_row .upload_name_block a,.right_search_block .right_block_row  .mb_cols  a,.right_search_block .date_cols a{
    width: 99%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
/* project view page*/

/*payments page modals*/
.withdrawal_amount_modal .modal-dialog,.quick_payments_modal .modal-dialog{
    max-width: 420px;
}
.withdrawal_amount_modal .modal-header{
    border-bottom: 0;
}
.withdrawal_amount_modal .modal-body{
    background-color: #f6f6f6;
    padding: 30px 0;
}
.quick_payments_modal .modal-body{
    background-color: #f6f6f6;
    padding: 0;
    border-radius: 0 0 6px 6px;
 }
.withdrawal_amount_modal .modal-footer{
    margin-top: 0;
    background-color: #f6f6f6;
    border-top: 0;
    padding: 0 20px 20px 20px;
    border-radius: 0 0 6px 6px;
}
.withdrawal_amount_modal .modal-footer label{
    display: block;
    text-align: left;
    font-size: 13px;
    margin-bottom: 5px;
}
.withdrawal_amount_modal .select2-container--classic .select2-selection--single{
    background-color: rgb(184, 184, 184)!important;;
}
.withdrawal_amount_modal .modal-title,.quick_payments_modal .modal-title{
    font-size: 16px;
}
.withdrawal_amount_modal .modal-footer button.button,.quick_payments_modal button.button{
    font-size: 14px;
    font-family: 'montserratbold';
    font-weight: normal;
    padding: 10px 20px;
    min-width: 135px;
    text-align: center;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    -o-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
}
.withdrawal_amount_modal .modal-footer button.button:hover,.quick_payments_modal button.button:hover{
    background-color: transparent!important;
    border: 2px solid #7db440!important;
    color: #7db440!important;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    -o-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
}
.withdrawal_amount_modal .modal-body .wa-input,.quick_payments_modal .modal-body .wa-input {
    width: 100%;
    margin: 0;
    padding: 11px 20px;
    font-size: 30px;
    line-height: 33px;
    color: #5a5250;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border: none !important;
    text-align: center;
    -webkit-box-shadow: inset 0px 3px 21px -6px rgba(0,0,0,0.55);
    -moz-box-shadow: inset 0px 3px 21px -6px rgba(0,0,0,0.55);
    box-shadow: inset 0px 3px 21px -6px rgba(0,0,0,0.55);
}
.withdrawal_amount_modal .select-custom-div-big {
    width: 200px;
}
.withdrawal_amount_modal .select-custom-div-big .select2-container .select2-selection--single .select2-selection__rendered{
    text-align: left;
}
.quick_payments_modal .middle {
    padding: 20px;
}
.quick_payments_modal .info {
    font-size: 12px;
    line-height: 18px;
}
.quick_payments_modal .payments_radio_item {
    position: relative;
    margin-bottom: 10px;
}
.quick_payments_modal input[type=radio].payments_radio {
    position: absolute;
    width: 0;
    opacity: 0;
}
.quick_payments_modal .payments_radio_item label {
    background-image: url("../images/payments_checkbox.png");
    font-size: 13px;
    font-weight: 500;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.quick_payments_modal input[type=radio].payments_radio + label {
    height: 30px;
    display: block;
    padding-left: 45px;
    line-height: 16px;
    background-repeat: no-repeat;
    background-position: 0 0;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 4px;
}
.quick_payments_modal input[type=radio].payments_radio:checked + label {
    background-position: 0 -30px;
}
.quick_payments_modal .radio{
    padding-left: 0;
}
.quick_payments_modal .payments_radio_item  span{
    width: 100%;
    color: #b8b8b8;
    font-size: 12px;
    font-weight: normal;
    display: block;
    text-align: left;
}
/*payments page modals*/
/*welcome_message_block*/
.welcome_message_block{
    background-color: #f6f6f6;
    min-height: 600px;
}
.welcome_message_block img{
    display: block;
    margin: 0 auto;
    padding-top: 140px;
}
.welcome_message_block .welcome_message{
    text-align: center;
    color: #5a5250;
    font-size: 18px;
    width: 53%;
    margin: 20px auto;
}
.welcome_message_block  .start_project_btn{
    border-radius: 20px;
    background-color: rgb(125, 180, 64);
    box-shadow: 1px 1px 6px 0 rgba(0, 1, 1, 0.2);
    color: #ffffff;
    display: table;
    margin: 0 auto;
    padding: 10px 24px;
    font-size: 14px;
    border: 1px solid rgb(125, 180, 64);
    font-family: 'montserratbold';
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    -o-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
}
.welcome_message_block  .start_project_btn:hover{
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    -o-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
    background-color: transparent;
    border: 1px solid rgb(125, 180, 64);
    color: rgb(125, 180, 64);
}
/*welcome_message_block*/

/* diaries page */
.diaries_page_blocks .diaries_page_header{
    min-height: 110px;
    background-color: #f6f6f6;
    padding: 25px 20px 35px 20px;
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
/*.diaries_page_blocks .diaries_page_header div{*/
    /*float: left;*/
/*}*/
.diaries_page_blocks .diaries_page_header .select2-container{
    z-index: 1;
}
/*.diaries_page_blocks .diaries_page_header .select_project_div{*/
    /*width: 170px;*/
/*}*/
/*.diaries_page_blocks .diaries_page_header .select_provider_div{*/
    /*width: 170px;*/
    /*margin-left: 10px;*/
/*}*/
/*.diaries_page_blocks .diaries_page_header  .select_timespan_div{*/
    /*width: 255px;*/
    /*float: right!important;*/
/*}*/
/*.diaries_page_blocks .diaries_page_header  .select_timespan_div select{*/
    /*float: right!important;*/
/*}*/
.select_provider_div {
    width: 170px;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}
.select_project_div {
    width: 170px;
    float: left;
    margin-right: 15px;
    margin-top: 5px;
}
.select_timespan_div {
    width: 170px;
    float: left;
    margin-right: 15px;
}
.select_timespan_div input {
    margin: 0px !important;
    padding: 0px;
    background-color: #B8B8B8 !important;
    border: 1px solid #AAAAAA !important;
}

.select_timespan_div2 {
    margin-top: 23px;
}
.select_timespan_button {
    width: 92px;
    float: left;
    margin-top: 26px;
}



.diaries_page_header .select2-container .select2-selection--single .select2-selection__rendered{
    padding:0 25px 0 10px;
    font-size: 12px;
}
.diaries_page_header .select2-container--default .select2-selection--single{
    padding: 0;
}
.diaries_page_header .select2-container--default .select2-selection--single .select2-selection__arrow{
    top: -2px;
}
.diaries_page_header .select_title{
    color: #b8b8b8;
    font-size: 14px;
    font-family: 'montserratbold';
    margin-bottom: 3px;
}
.diaries_page_blocks .diaries_page_content{
    padding: 20px;
    background-color: #f6f6f6;
    width: 100%;
    float: left;
}
.diaries_page_blocks .diaries_page_content .diaries_section_title,#view_snapshot_modal .diaries_section_title{
    color: #5a5250;
    font-size: 14px;
    font-family: 'montserratbold';
    max-width: 100%;
    word-wrap: break-word;
}
.diaries_page_blocks .diaries_page_content .diaries_section_date,#view_snapshot_modal .diaries_section_date{
    color: #7db440;
    font-size: 12px;
    max-width: 100%;
    word-wrap: break-word;
}
.diaries_page_content .design_images{
    width: 20%;
    float: left;
    padding: 0 10px 5px 0;
}
.diaries_page_content .design_images img{
    width: 100%;
    cursor: pointer;
}
.diaries_page_content  .design_images_content{
    margin: 20px 0;
    width: 100%;
    float: left;
}
#view_snapshot_modal{
    overflow-y: auto;
}
#view_snapshot_modal .modal-dialog{
    max-width: 600px;
}
#view_snapshot_modal .modal-body{
    background-color: rgb(246, 246, 246);
    box-shadow: 5px 8px 20px 0rgba(0, 1, 1, 0.1);
    border-radius: 0 0 12px 12px;
}
#view_snapshot_modal .modal-title{
    color: #5a5250;
    font-size: 16px;
    font-family: 'montserratregular';
}
#view_snapshot_modal  .image_block img{
    width: 100%;
}
#view_snapshot_modal  .image_block{
    margin-top: 20px;
}
    /*diaries page */
#milestoneModal .milestone_price, #fixed_price_input {
    width: 100%;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-transform: none;
    border-radius: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    background-color: #FFF;
    color: #5a5250;
    display: inline-block;
    border: 2px solid #b8b8b8;
    resize: none;
    margin-top: 0;
    margin-bottom: 13px;
    padding: 4px;
    padding-left: 20px;
}
.load_freelancer{
    display: none;
}
.border_red{
    border: 2px solid #E27164 !important;
}
#milestone_error, .fixed_price_error{
    color: #E27164;
}
.create_date{
    color: #b8b8b8;
    font-size: 12px;
    margin-top: 20px;
}
.block_titles{
    margin: 30px 0 0 0!important;
}
.block_titles2{
    margin: 30px 0 10px 0!important;
}
.main_title_block{
    margin-bottom: 15px;
}
.settings_title_block ul li a:hover{
    color:#716764!important;
}
button.button.gray .fa-plus{
    font-size: 10px;
}
.project_discussion .comment_upload_files img{
    width: 100px;
    height: 100px;
}
.milestones_title{
    margin-bottom: 0!important;
}
.mile_underline{
    text-decoration: underline;
}
.upload_files_grey_div{
    display: none;
}
.milestones_title{
    margin-bottom: 0!important;
}
.mile_underline{
    text-decoration: underline;
}
#loading_comment_upload{
    position: absolute;
    left: 47%;
}
#search_start_date{
    height: 28px;
    margin-top: 5px !important;
}
#search_end_date{
    height: 28px;
    margin-top: 5px !important;
}
#search_diaries{
    margin-top: 3px ;
}
.design_images_content span img{
    width: 160px;
}
#search_diaries{
    background-color: transparent;
    -webkit-transition:all 0.4s ease;
    -o-transition:all 0.4s ease;
    transition:all 0.4s ease;
}
#search_diaries:hover{
    background-color: #b8b8b8;
}
.diaries_sections span{
    color: #b8b8b8;
    font-size: 13px;
}
.tooltip-inner{
    background-color: transparent;
    color: #b8b8b8;
    border: 2px solid #b8b8b8;
    max-width: 410px;
    margin-top:-60px;
    text-align: left;
}
.tooltip.right .tooltip-arrow{
    border-right-color: #b8b8b8;
}
.tooltip.right .tooltip-arrow {
    top: 55%;
}
.payment-method .button{
    /*width: 45% !important;*/
}
.dispute_go_back{
    margin-right: 12px;
}
.loading_content{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.6;
    z-index: 10;
    background-color: #212121;
}
.loading_content img{
    position: absolute;
    top: 140px;
    left: 47%;
}
.funds_error{
    background-color: #F6F6F6;
    padding-left: 20px;
    color: rgb(255,128,128);
}