/* Global styles
================================================== */

a:link,
a:visited{
    text-decoration: none;
}


a:hover{
    text-decoration: none;
    color: #000;
}
li{
    list-style: none;
}
a:focus{
    outline: 0;
}

img.pull-left, .pull-left > img {
    margin-right: 15px !important;
}

img.pull-right, .pull-right > img {
    margin-left: 15px !important;
}

.no-padding {
    padding:0px;
}

/* Time Tracker Page
================================================== */

#time_tracker_page .wrapper {
    width: 500px;
}

#time_tracker_page {
    margin-top: 50px;
}

#time_tracker_page .content .logo_section {
    margin: 25px 0px 25px 0px;
}

#time_tracker_page .content .form_section {
    padding: 15px 20px 15px 20px;
    background-color: #F6F6F6;
}

#time_tracker_page .content .form_section .btn-group {
    width: 200px;
}

#time_tracker_page .content .form_section .btn-group button {
    background: #B8B8B8 !important;
    background: -moz-linear-gradient(top, #FDFDFD 0%, #E7E7E7 100%);
    background: -webkit-linear-gradient(top, #FDFDFD 0%,#E7E7E7 100%);
    background: linear-gradient(to bottom, #FDFDFD 0%,#E7E7E7 100%);
    padding: 10px 0px 10px 15px;
    outline: 0 !important;
    -webkit-box-shadow: 0 6px 6px -6px #D7D9DE;
    -moz-box-shadow: 0 6px 6px -6px #D7D9DE;
    box-shadow: 0 6px 6px -6px #D7D9DE;
    border-radius: 25px;
}


#time_tracker_page .content .form_section .btn-group button span {
    font-family: 'Montserrat';
    color: #5A5250;
    font-size: 12px;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
    display: none;
}

#time_tracker_page .content .form_section .btn-group button span:first-child:after {
    content: "\f0d7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #5A5250;
    font-size: 15px;
    padding-right: 0.5em;
    position: absolute;
    top: -2px;
    right: 7px;
}


#time_tracker_page .content .form_section .btn-group button span:first-child {
    position: relative;
}

#time_tracker_page .content .form_section .select_title {
    font-family: 'Montserrat';
    color: #5A5250;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 5px;
}

#time_tracker_page .content .form_section .description {
    margin-top: 15px;

}
#time_tracker_page .content .form_section .description label {
    font-family: 'OpenSansRegular';
    color: #888888;
    font-size: 12px;
    font-weight: normal;
}
#time_tracker_page .content .form_section .description textarea {
    border-radius: 15px;
    border: 2px solid #B8B8B8;
    resize: none;
    margin-top: 3px;
}


#time_tracker_page .content .btn_work {
    margin-top: 20px;
}


#time_tracker_page .content .btn_work input {
    border: 0px;
    border-radius: 25px;
    outline: 0;
    background-color: #1FAFB8;
    background-color: #7DB440;
    color: #fff;
    padding: 10px 25px 10px 25px;
    font-family: 'Montserrat';
    font-size: 14px;
}
#input-number-mod,
#input-number-mod2 {
    width: 60px;
    padding: 9px !important;
    border: 2px solid #B8B8B8 !important;
    border-radius: 20px;
    outline: 0;
}
#input-number-mod[type="number"],
#input-number-mod2[type="number"] {
    position: relative;
    margin: 0 0 1rem;
    border: 1px solid #BBB;
    border-color: #BBB #ECECEC #ECECEC #BBB;
    padding: .2rem;
}

/* Spin Buttons modified */
#input-number-mod[type="number"].mod::-webkit-outer-spin-button,
#input-number-mod[type="number"].mod::-webkit-inner-spin-button,
#input-number-mod2[type="number"].mod::-webkit-outer-spin-button,
#input-number-mod2[type="number"].mod::-webkit-inner-spin-button {
    -webkit-appearance: none;
    background:  url('../images/input_number_icon.png') no-repeat center center;
    width: 1em;
    outline: 0;
    opacity: .5; /* shows Spin Buttons per default (Chrome >= 39) */
    position: absolute;
    top: 0;
    right: 2px;
    bottom: 0;
    cursor: pointer;

}
#input-number-mod[type="number"].mod::-webkit-inner-spin-button:hover,
#input-number-mod[type="number"].mod::-webkit-inner-spin-button:active,
#input-number-mod2[type="number"].mod::-webkit-inner-spin-button:hover,
#input-number-mod2[type="number"].mod::-webkit-inner-spin-button:active{
    opacity: .8;
    outline: 0;
}

/* Override browser form filling */
#input-number-mod:-webkit-autofill,
#input-number-mod2:-webkit-autofill {
    background: black;
    color: red;
}

.counter_hrs_min_section span {
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
    color: #C0C0C0;
    font-family: 'Montserrat';
}

.bootstrap-select.btn-group .dropdown-menu li a:hover {
    background-color: #EFF2F7;
    color: #000;
}


#time_tracker_page .content .form_section .description textarea::-webkit-input-placeholder {
    font-size: 12px !important;
    color: #C0C0C0 !important;
    font-family: 'Montserrat' !important;
    padding-top: 10px;
    padding-left: 10px;
}
#time_tracker_page .content .form_section .description textarea::-moz-placeholder          {
    font-size: 12px !important;
    color: #C0C0C0 !important;
    font-family: 'Montserrat' !important;
    padding-top: 10px;
    padding-left: 10px;
}
#time_tracker_page .content .form_section .description textarea:-moz-placeholder           {
    font-size: 12px !important;
    color: #C0C0C0 !important;
    font-family: 'Montserrat' !important;
    padding-top: 10px;
    padding-left: 10px;
}
#time_tracker_page .content .form_section .description textarea:-ms-input-placeholder      {
    font-size: 12px !important;
    color: #C0C0C0 !important;
    font-family: 'Montserrat' !important;
    padding-top: 10px;
    padding-left: 10px;
}
body {
    overflow-x: hidden;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-left: -11px;
    margin-top: 3px;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 25px;

    background: #B8B8B8 !important;
    background: -moz-linear-gradient(top, #FDFDFD 0%, #E7E7E7 100%);
    background: -webkit-linear-gradient(top, #FDFDFD 0%,#E7E7E7 100%);
    background: linear-gradient(to bottom, #FDFDFD 0%,#E7E7E7 100%);
    padding: 3px 0px 3px 5px;
}

@media (min-width : 991px) and (max-width: 1200px) {


}

@media (max-width: 991px) {
    #time_tracker_page .content .form_section .btn-group {
        width: 100%;
        margin-bottom: 10px;
    }
    #time_tracker_page .content .logo_section {
        text-align: center;
    }
}

@media (min-width : 768px) and (max-width: 991px) {


}

@media (max-width: 767px) {
    #time_tracker_page .wrapper {
        width: 95%;
    }
}

@media (min-width : 479px) and (min-width: 768px) {


}

@media  (max-width : 478px) {


}

@media (min-width : 320px) and (max-width: 478px)  {

}

@media (min-width : 297px) and (max-width: 350px)  {

}

/**
    upload
**/

.uploadField {
    background: none;
    margin-top: 10px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    overflow: hidden;
    font-size: 20px;
    font-family: Arial;
    border-radius: 4px;
    vertical-align: middle;
}
.uploadField input {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    opacity: 0;
}
 .uploadField span {
    text-decoration: underline;
    font-size: 12px;
    color: #4b89dc;

}
/** tracker **/
#time_tracker_page {
    margin-top:0 !important;
}
#time_tracker_page .content {
    width: 100% !important;
}
#trackerModal .modal-header {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 12px !important;
}
#fileupload .uploadField, #trackerModal .uploadField{
    border: 0 !important;
}
#trackerModal #selectedFiles, .project-comments.group #selectedFiles{
    overflow: auto !important;
}
#trackerModal  .modal-header .close {
    margin-top: -45px;
}
#trackerModal .select2-container .select2-selection--single .select2-selection__rendered{
    font-size: 12px!important;
}
#trackerModal .form-group{
    margin-bottom: 0;
}
#trackerModal  .uploadField{
    padding: 5px 20px 5px 0;
    margin-top: 0;
}
#trackerModal  .screenshot_title{
    color: #5a5250;
    font-size: 12px;
    margin-bottom: 7px;
}